{% extends '@tsai_city/node/_node-teaser-image-vertical.html.twig' %}

{% block node_teaser_content %}
  <div class="node-teaser__content">
    {% if content.body.0 %}
      <div class="node-teaser__body">
        {{- content.body -}}
      </div>
    {% endif %}
  </div>

  {% if content.field_tax_time_commitments.0 %}
    <div class="node-teaser__time-commitment">
      {{- content.field_tax_time_commitments -}}
    </div>
  {% endif %}
{% endblock %}

{% block node_teaser_footer %}

  <footer class="node-teaser__footer">
    {% if content.field_tax_topics_m.0 %}
      {% if content.field_tax_topics_m['#items']|length >= 10 %}
        <details class="node-teaser__topics">
          <summary>All Topics</summary>
          {{- content.field_tax_topics_m -}}
        </details>
      {% else %}
        <div class="node-teaser__topics">
          {{- content.field_tax_topics_m -}}
        </div>
      {% endif %}
    {% endif %}

    <div class="node-teaser__cta-link">
      {{- drupal_link('Learn more', 'node/' ~ node.id) -}}
    </div>
  </footer>

{% endblock %}
