{% extends '@tsai_city/node/_node.html.twig' %}

{% block node_header %}
  {{- parent() -}}

  {% if content.body.0 %}
    <div class="node__body">
      {{- content.body -}}
    </div>
  {% endif %}
{% endblock %}

{% block node_media %}
  {% if content.field_med_image_page.0 %}
    <div class="node__image">
      {{ content.field_med_image_page }}
    </div>
  {% endif %}
{% endblock %}

{% block node_aside %}
  <aside class="node__aside">
    {% if
      content.field_tax_time_commitments.0 or
      content.field_tax_topics_m.0
    %}
      <section class="node__related node__related--metadata">
        {% if content.field_tax_time_commitments.0 %}
          <h5>Time Commitment</h5>
          <div class="node__time-commitment">
            {{- content.field_tax_time_commitments -}}
          </div>
        {% endif %}

        <div class="node__social-share">
          <h5>Social Share</h5>
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_inline_share_toolbox"></div>
        </div>

        {% if content.field_tax_topics_m.0 %}
          <h5>Topics</h5>
          <div class="node__topics">
            {{content.field_tax_topics_m}}
          </div>
        {% endif %}
      </section>
    {% endif %}

    {% if content.field_nod_program_m.0 %}
      <section class="node__related node__related--programs">
        <h5>Related Programs</h5>

        {{- content.field_nod_program_m -}}
      </section>
    {% endif %}

    {% if drupal_view_result('stories', 'embed_stories_list_by_program', node.id) %}
      <section class="node__related node__related--stories">
        <h5>Related Stories</h5>

        {{- drupal_view('stories', 'embed_stories_list_by_program', node.id) -}}
      </section>
    {% endif %}
  </aside>
{% endblock %}

{% block node_content %}
  {% if content.field_par_section_m.0 %}
    <div class="node__sections">
      {{- content.field_par_section_m -}}
    </div>
  {% endif %}

  {% if content.field_link.0 %}
    <div class="node__registration-link">
      <a href="{{- content.field_link.0['#url'].uri -}}">
        <span>Register for the</span><br>
        <span>{{- label -}}</span>
      </a>
    </div>
  {% endif %}
{% endblock %}
