{% extends '@tsai_city/node/_node-teaser-featured.html.twig' %}

{% block node_teaser_header %}
  {{ parent() }}

  <div class="node-teaser__cta-link">
    {{ drupal_link('Learn More', 'node/' ~ node.id) }}
  </div>
{% endblock %}
