.site-nav-toggle {
  --button-display: flex;
  --button-color: #{ $color-neutral-black };
  --svg-width: auto;

  align-items: center;
  position: relative;
  height: rem(36);
  width: rem(48);
  z-index: 101;

  svg {
    bottom: 0;
    position: absolute;
    right: 0;
    transition: all 200ms ease-in-out;
    height: rem(28);
    width: rem(28);
  }

  span {
    background-color: var(--button-color);
    height: rem(2);
    left: 0;
    position: absolute;
    transition: all 200ms ease-in-out;
  }

  &__bar-1 {
    top: 0;
    width: rem(40);
  }

  &__bar-2,
  &__bar-3 {
    top: rem(10);
    width: rem(18);
  }

  &__bar-4 {
    top: rem(20);
    width: rem(16);
  }

  &[aria-expanded="true"] {
    --button-color: #{ $color-neutral-white };
    --svg-color: #{ $color-neutral-white };

    .site-nav-toggle__bar-2 {
      width: 100%;
      transform: rotate(45deg);
    }

    .site-nav-toggle__bar-3 {
      width: 100%;
      transform: rotate(-45deg);
    }

    .site-nav-toggle__bar-1,
    .site-nav-toggle__bar-4 {
      width: 0;
    }

    svg {
      opacity: 0;
    }

  }

  // **************************************************
  // MEDIA QUERIEs

  @media (min-width: $mq-1280) {
    transform: scale(1.25);
    transform-origin: top right;
  }
}
