%site-nav-layout {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.site-nav {
  --link-color: #{ $color-neutral-white };
  --link-font-size: #{ rem(72) };

  position: absolute;
  background-color: $color-neutral-black;
  right: 0;
  top: 0;
  z-index: 100;
  transition: transform 200ms ease-in-out;
  transform-origin: top right;
  text-transform: lowercase;

  &__wrapper {
    @include column-inset-right(1, margin);

    padding-left: $spacing-md;
    padding-top: $spacing-lg;
    padding-bottom: $spacing-lg;
  }

  .menu__item {
    --menu-item-display: flex;

    a {
      --link-highlight-backgroud-color: #{ $color-neutral-white };
      --link-font-size: #{ rem(48) };
      --link-margin: 0.25em 0;

      @extend %link-highlight;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    transform: scale(0);
  }

  &[aria-hidden="false"] {
    visibility: visible;
    transform: scale(1);
  }
}
