.term {
  --term-columns: 1;
  --term-heading-font-size: clamp(#{ rem(56) }, 6vw, #{ rem(75) });
  --term-heading-margin: 0 0 0.5em 0;

  @extend %grid;

  grid-template-columns: repeat(var(--term-columns), minmax(0, 1fr));

  &__heading {
    font-size: var(--term-heading-font-size);
    margin: var(--term-heading-margin);
  }

  &__view-title {
    font-size: rem(24);
    margin-bottom: 0.75em;
  }
}
