.term-teaser--image-vertical {
  --row-gap: #{ $spacing-sm };

  grid-template-areas:
    "tIMG"
    "tHEAD"
    "tCONT"
    "tFOOT";

  grid-template-columns: repeat(1, minmax(0, 1fr));

  .term-teaser__heading {
    --link-font-size: #{ rem(32) };
    --link-margin: 0;
  }

  .term-teaser__metadata {
    font-family: $font-family-secondary;
    margin-bottom: $spacing-sm;

    > *:not(.term-teaser__field-label) {
      margin-bottom: ($spacing-sm / 2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .term-teaser__field-label {
    font-size: rem(14);
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  .term-teaser__footer {
    .term-teaser__topics {
      margin-bottom: ($spacing-sm / 2);
    }
  }

  .term-teaser__cta-link {
    --link-highlight-backgroud-color: var(--color-combo-primary);
    --link-hover-color: var(--color-combo-primary-text);
    --link-font-size: #{ rem(20) };

    @extend %arrow-icon-right;

    a {
      @extend %link-highlight;
    }
  }
}
