.term-teaser {
  --term-teaser-heading-font-size: inherit;
  --term-teaser-heading-margin: 0 0 0.5em 0;

  @extend %grid;

  &__heading {
    font-size: var(--term-teaser-heading-font-size);
    line-height: 1.1;
    margin: var(--term-teaser-heading-margin);

    a {
      --link-highlight-backgroud-color: var(--color-combo-primary);
      --link-hover-color: var(--color-combo-primary-text);

      @extend %link-highlight;
    }
  }

  &__header {
    grid-area: tHEAD;
  }

  &__content {
    grid-area: tCONT;
  }

  &__image {
    grid-area: tIMG;
  }

  &__footer {
    grid-area: tFOOT;
  }
}
