{% extends '@tsai_city/node/_node.html.twig' %}

{% block node_header %}
  {% if content.field_display_title.0 %}
    <div class="node__display-title">
      {{- content.field_display_title -}}
    </div>
  {% endif %}

  {% if content.field_callout_word_m.0 %}
    {% set callout_words = [] %}
    {% for callout_word in content.field_callout_word_m['#items'] %}
      {% set callout_words = callout_words|merge([callout_word.value]) %}
    {% endfor %}

    <div class="node__callout-words" data-callout-words="{{- callout_words|join(',') -}}">
      <span class="callout-word">
        <span class="callout-word__letters" role="text"></span>
        <span class="callout-word__line"></span>
      </span>
      <div class="callout-word-controls">
        <button
          aria-label="Play animation"
          class="callout-word-controls__play" data-callout-play-btn disabled>
          {{ source(directory ~ '/assets/dist/images/play.svg') }}
        </button>
        <button
          aria-label="Pause animation"
          class="callout-word-controls__pause" data-callout-pause-btn>
          {{ source(directory ~ '/assets/dist/images/pause.svg') }}
        </button>
      </div>
    </div>

  {% endif %}
{% endblock %}

{% block node_media %}
  {% if content.field_med_image_header.0 %}
    <div class="node__image">
      {{- content.field_med_image_header -}}
    </div>
  {% endif %}
{% endblock %}

{% block node_content %}
  {% if content.field_par_section_m.0 %}
    <div class="node__sections">
      {{- content.field_par_section_m -}}
    </div>
  {% endif %}
{% endblock %}
