.node--homepage {
  grid-template-areas:
    "nHEAD"
    "nCONT";

  .node__header {
    color: $color-neutral-white;
    font-family: $font-family-secondary;
    margin-bottom: $spacing-xl;
    align-content: end;
    height: 100vh;
    position: relative;
    bottom: $spacing-xl;
  }

  .node__display-title {
    @include responsive-font-size(rem(24), 5vw, rem(48));
    @include one-pixel-text-shadow($color-neutral-black);
    z-index: 20;
  }

  .node__callout-words {
    //@include column-inset-left(1, margin);
    z-index: 20;
    align-self: start;
    justify-self: start;

    .callout-word {
      @include responsive-font-size(rem(48), 5vw, rem(80));
      @include one-pixel-text-shadow($color-neutral-black);
      letter-spacing: -2px;

      text-transform: uppercase;
      position: relative;
      margin-bottom: 0.25em;

      &__line {
        opacity: 0;
        position: absolute;
        left: 0;
        height: 0.25em;
        width: 100%;
        background-color: var(--color-combo-secondary);
        transform-origin: 100% 100%;
        bottom: -0.25em;
        box-shadow: 1px 1px 1px $color-neutral-black;
      }

      &__letter {
        display: inline-block;
      }
    }

    .callout-word-controls {
      --svg-color: #{ $color-neutral-white };
      --svg-hover-color: #{ $color-light-blue };
      --svg-width: #{ rem(26) };
      position: relative;

      margin-top: $spacing-sm;

      button{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        visibility: visible;

        &:disabled {
          opacity: 0;
          visibility: hidden;

          cursor: default;
          transition: opacity .5s ease;
        }

        &:focus {
          outline-color: var(--svg-color);
        }
      }
    }
  }

  .node__image {
    @include touch-edge-both();
    z-index: 0;

    grid-area: nHEAD;
    height: 100vh;
    z-index: -1;

    .media--image {
      position: relative;
      &:after {
        @include gradient-container();
        @include gradient-both();
        z-index: 2;
      }


      img {
        filter: brightness(0.8);
        z-index: 0;
      }
    }


  }

  .paragraph--edge-to-edge {
    @include touch-edge-both();
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1024) {
    .node__callout-words {
      .callout-word {
        @include column-inset-left(1, margin);

        @include responsive-font-size(rem(50), 6vw, rem(100));
        letter-spacing: unset;
      }
    }
  }

  @media (min-width: $mq-1280) {
    grid-template-areas:
      "nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD"
      "nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT";

    .node__header {
      margin-right: 0;
      padding-right: 0;
    }

    .node__display-title {
      @include column-inset-left(1, margin);
      padding-left: $spacing-md;
      @include responsive-font-size(rem(30), 7vw, rem(60));
    }

    .node__callout-words {
      .callout-word {
        @include responsive-font-size(rem(60), 7vw, rem(120));
      }

      .callout-word-controls {
        margin-top: 0;
      }
    }

    .view--display-grid {
      @include column-inset-both(1, margin);
    }
  }
}
