$color-pink: #FF377D !global;
$color-teal: #5BE1C2 !global;
$color-dark-blue: #1152AE !global;
$color-orange: #FF9614 !global;
$color-yellow: #FFC300 !global;
$color-dark-green: #006346 !global;
$color-light-blue: #80D7F4 !global;
$color-purple: #6F37B0 !global;

$color-neutral-black: #000000 !global;
$color-neutral-white: #ffffff !global;
