/// Default spacing size that all other spacing, safe-area, etc. is based off.
$_spacing: rem(30);

$spacing-sm: $_spacing; // 30px
$spacing-md: $_spacing * 2; // 60px
$spacing-lg: $_spacing * 3; // 90px
$spacing-xl: $_spacing * 4; // 120px
