$font-family-primary : "YaleDesign", serif !global;
$font-family-secondary : "Duplicate Sans Web", serif !global;

$font-weight-primary-regular: 400;
$font-weight-secondary-regular: 500;
$font-weight-bold : 700;

$font-src : "../../src/fonts";
$font-src-yaledesign: "#{ $font-src }/yaledesign";
$font-src-duplicatesans: "#{ $font-src }/duplicatesans";
