{% extends '@tsai_city/node/_node-teaser-image-vertical.html.twig' %}

{% block node_teaser_content %}
  <div class="node-teaser__content">
    <div class="node-teaser__metadata">
      {% if content.field_dtmrng_event.0 %}
        <div class="node-teaser__field-label node-teaser__field-label--event-date">
          Date/Time
        </div>
        <div class="node-teaser__event-date">
          {{- content.field_dtmrng_event -}}
        </div>
      {% endif %}

      {% if content.field_location.0 %}
        <div class="node-teaser__field-label node-teaser__field-label--location">
          Location
        </div>
        <div class="node-teaser__location">
          {{- content.field_location -}}
        </div>
      {% endif %}
    </div>

    {% if content.body.0 %}
      <div class="node-teaser__body">
        {{- content.body -}}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block node_teaser_footer %}
  <footer class="node-teaser__footer">
    {% if content.field_tax_topics_m.0 %}
      {% if content.field_tax_topics_m['#items']|length >= 10 %}
        <details class="node-teaser__topics">
          <summary>All Topics</summary>
          {{- content.field_tax_topics_m -}}
        </details>
      {% else %}
        <div class="node-teaser__topics">
          {{- content.field_tax_topics_m -}}
        </div>
      {% endif %}
    {% endif %}

    {% if
      content.field_link.0 and
      show_event_link
    %}
      <div class="node-teaser__cta-link">
        {{- content.field_link -}}
      </div>
    {% endif %}
  </footer>
{% endblock %}

