{% extends '@tsai_city/node/_node.html.twig' %}

{% block node_header %}
  {{- parent() -}}

  {% if content.field_dtmrng_event.0 %}
    <div class="node__event-date">
      {{- content.field_dtmrng_event -}}
    </div>
  {% endif %}
{% endblock %}

{% block node_content %}
  {% if content.body.0 %}
    <div class="node__body">
      {{- content.body -}}
    </div>
  {% endif %}

  {% if
    content.field_link.0 and
    show_event_link
  %}
    <div class="node__registration-link">
      <a href="{{- content.field_link.0['#url'].uri -}}">
        <span>{{- content.field_link.0['#title'] -}}</span>
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block node_aside %}
  <aside class="node__aside">
    {% if
      content.field_tax_event_types.0 or
      content.field_location.0 or
      content.field_addr_address.0 or
      content.field_tax_topics_m.0
    %}
      <section class="node__related node__related--metadata">
        {% if content.field_tax_event_types.0 %}
          <h5>Type</h5>
          <div class="node__event-type">
            {{ content.field_tax_event_types }}
          </div>
        {% endif %}

        {% if content.field_location.0 %}
          <h5>Location</h5>
          <div class="node__location">
            {{- content.field_location -}}
          </div>
        {% endif %}

        {% if content.field_addr_address.0 %}
          <h5>Address</h5>
          <div class="node__address">
            {{- content.field_addr_address -}}
          </div>
        {% endif %}

        <div class="node__social-share">
          <h5>Social Share</h5>
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_inline_share_toolbox"></div>
        </div>

        {% if content.field_tax_topics_m.0 %}
          <h5>Topics</h5>
          <div class="node__topics">
            {{- content.field_tax_topics_m -}}
          </div>
        {% endif %}
      </section>
    {% endif %}

    {% if content.field_nod_program_m.0 %}
      <section class="node__related node__related--programs">
        <h5>Related Programs</h5>

        <div class="node__programs">
          {{ content.field_nod_program_m }}
        </div>
      </section>
    {% endif %}

    {% if content.field_nod_fund_m.0 %}
      <section class="node__related node__related--funds">
        <h5>Related Funds</h5>
        <div class="node__funds">
          {{ content.field_nod_fund_m }}
        </div>
      </section>
    {% endif %}
  </aside>
{% endblock %}

{% block node_media %}
  {% if content.field_med_image_page.0 %}
    <div class="node__image">
      {{ content.field_med_image_page }}
    </div>
  {% endif %}
{% endblock %}
