.form--webform-signup {
  .form__element {
    &--title {
      font-size: rem(40);
      margin-bottom: 0.25em;
    }

    &--text {
      font-size: rem(18);
      font-weight: $font-weight-bold;
      margin-bottom: 0.75em;
    }
  }
}
