.form--webform-contact-general {
  --form-font-family: #{ $font-family-primary };
  --form-input-font-size: #{ rem(24) };
  --row-gap: 0;

  @extend %grid;

  .form__label {
    font-style: italic;
  }

  .form__element {
    &--textarea {
      &[data-form-element-floating-label] {
        @include floating-form-labels(3.5rem, 1rem);
      }
    }

    &--actions {
      --arrow-icon-width: #{ rem(50) };
    }
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1024) {
    grid-template-columns: repeat(2, 1fr);

    .form__element {
      &--email {
        margin-top: 2rem;
      }

      &--email,
      &--textarea,
      &--actions {
        grid-column: span 2;
      }
    }
  }
}
