.form--views-exposed-form {
  --form-background-color: #{ lighten($color-neutral-black, 85%) };
  --form-padding: #{ ($spacing-sm / 2) } #{ $spacing-sm };
  --form-margin: 0 0 #{ $spacing-sm } 0;

  display: inline-flex;
  flex-wrap: wrap;

  .form__label {
    --form-label-font-size: #{ rem(14) };

    text-transform: uppercase;
  }

  .form__element {
    margin-top: $spacing-sm;

    &:first-child {
      margin-top: 0;
    }

    &--actions {
      display: none;
      visibility: hidden;
    }
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-768) {
    flex-wrap: nowrap;

    .form__element {
      margin-right: $spacing-sm;
      margin-top: 0;
    }
  }
}
