.form--user-login-form {
  --row-gap: #{ $spacing-sm };

  @extend %grid;

  grid-template-columns: 1fr;
  padding-top: var(--site-header-offset);

  .form__login-column,
  .form__cas-column {
    padding: 1rem;
    border: em(1) solid rgba($color-neutral-black, 0.5);

    .block-tsai-city-local-tasks {
      margin-bottom: 1rem;

      .menu--local-tasks {
        justify-content: flex-end;
      }
    }

    .form__cas-login-note {
      font-size: rem(18);
    }
  }

  .form__element--textfield {
    margin-bottom: 1.5em;
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1024) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $mq-1280) {
    grid-template-columns: 1fr 2fr;
  }
}
