{% extends '@tsai_city/node/_node-teaser-image-vertical.html.twig' %}

{% if content.field_dbl_original_source.0 %}
  {% set original_url = content.field_dbl_original_source.0['#item'].second %}
{% endif %}

{% block node_teaser_heading %}
  {% if original_url %}
    <a href="{{- original_url -}}">{{ label }}</a>
  {% else %}
    {{- parent() -}}
  {% endif %}
{% endblock %}

{% block node_teaser_content %}
  <div class="node-teaser__content">
    <div class="node-teaser__metadata">
      {% if content.field_dtm_published_on.0 %}
        <div class="node-teaser__field-label node-teaser__field-label--published">
          Published
        </div>
        <div class="node-teaser__published">
          {{- content.field_dtm_published_on -}}
        </div>
      {% endif %}
    </div>

    {% if content.body.0 %}
      <div class="node-teaser__body">
        {{- content.body -}}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block node_teaser_footer %}
  <footer class="node-teaser__footer">
    {% if content.field_tax_topics_m.0 %}
      {% if content.field_tax_topics_m['#items']|length >= 10 %}
        <details class="node-teaser__topics">
          <summary>All Topics</summary>
          {{- content.field_tax_topics_m -}}
        </details>
      {% else %}
        <div class="node-teaser__topics">
          {{- content.field_tax_topics_m -}}
        </div>
      {% endif %}
    {% endif %}

    <div class="node-teaser__cta-link">
      {% if original_url %}
        <a href="{{- original_url -}}">Read full story</a>
      {% else %}
        {{- drupal_link('Read full story', 'node/' ~ node.id) -}}
      {% endif %}
    </div>
  </footer>
{% endblock %}
