{% extends '@tsai_city/node/_node-teaser-image-horizontal.html.twig' %}

{% if content.field_dbl_original_source.0 %}
  {% set original_url = content.field_dbl_original_source.0['#item'].second %}
{% endif %}

{% block node_teaser_heading %}
  {% if original_url %}
    <a href="{{- original_url -}}">{{ label }}</a>
  {% else %}
    {{- parent() -}}
  {% endif %}
{% endblock %}

{% block node_teaser_content %}
  <div class="node-teaser__content">
    <div class="node-teaser__metadata">
      {% if content.field_dtm_published_on.0 %}
        <div class="node-teaser__field-label node-teaser__field-label--published">
          Published
        </div>
        <div class="node-teaser__published">
          {{- content.field_dtm_published_on -}}
        </div>
      {% endif %}

      {% if content.field_tax_topics_m.0 %}
        <div class="node-teaser__field-label node-teaser__field-label--topics">
          Topics
        </div>
        <div class="node-teaser__topics">
          {{- content.field_tax_topics_m -}}
        </div>
      {% endif %}
    </div>

    {% if content.body.0 %}
      <div class="node-teaser__body">
        {{- content.body -}}
      </div>
    {% endif %}
  </div>
{% endblock %}
