{% extends '@tsai_city/node/_node.html.twig' %}

{# Get all topic ids #}
{% set topic_ids = [] %}
{% for topic in content.field_tax_topics_m['#items'] %}
  {% set topic_ids = topic_ids|merge([topic.target_id]) %}
{% endfor %}

{% if content.field_tax_story_types.0 %}
  {% set story_type = content.field_tax_story_types.0['#plain_text']|lower %}
{% else %}
  {% set story_type = 'n/a' %}
{% endif %}

{% block node_header %}
  {{- parent() -}}

  {% if content.field_intro.0 %}
    <div class="node__intro">
      {{- content.field_intro -}}
    </div>
  {% endif %}
{% endblock %}

{% block node_media %}
  {% if story_type == 'video' and content.field_med_video.0 %}
    <div class="node__video">
      {{- content.field_med_video -}}
    </div>
  {% else %}
    {% if content.field_med_image_page.0 %}
      <div class="node__image">
        {{- content.field_med_image_page -}}
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block node_aside %}
  <aside class="node__aside">
    <section class="node__related node__related--metadata">
        <div class="node__social-share">
          <h5>Social Share</h5>
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_inline_share_toolbox"></div>
        </div>


      {% if content.field_nod_person_m.0 %}
        <div class="node__authors">
          {{- content.field_nod_person_m -}}
        </div>
      {% endif %}

      {% if content.field_dtm_published_on.0 %}
        <div class="node__date-published">
          {{- content.field_dtm_published_on -}}
        </div>
      {% endif %}

      {% if content.field_tax_topics_m.0 %}
        <h5>Topics</h5>
        <div class="node__topics">
          {{- content.field_tax_topics_m -}}
        </div>
      {% endif %}
    </section>

    {% if drupal_view_result('stories', 'embed_stories_list_by_topic', topic_ids|join(','), node.id) %}
      <section class="node__related node__related--stories">
        <h5>Related Stories</h5>

        {{ drupal_view('stories', 'embed_stories_list_by_topic', topic_ids|join(','), node.id) }}
      </section>
    {% endif %}
  </aside>
{% endblock %}

{% block node_content %}
  {% if content.body.0 %}
    <div class="node__body">
      {{- content.body -}}
    </div>
  {% endif %}
{% endblock %}
