{% extends '@tsai_city/node/_node-teaser.html.twig' %}

{% if content.field_dbl_original_source.0 %}
  {% set original_url = content.field_dbl_original_source.0['#item'].second %}
{% endif %}

{% block node_teaser_heading %}
  {% if original_url %}
    <a href="{{- original_url -}}">{{ label }}</a>
  {% else %}
    {{- parent() -}}
  {% endif %}
{% endblock %}
