/// Outsets content, left, based on the calculation of the given $columns.
///
/// @author Steven Keiser
///
/// @param {number} $columns
///   The number of columns to outset.
///
/// @require {function} column-width

@mixin column-outset-left($columns) {
  margin-left: calc(-1 * #{ column-width($columns) });
}

/// Outsets content, right, based on the calculation of the given $columns.
///
/// @author Steven Keiser
///
/// @param {number} $columns
///   The number of columns to outset.
///
/// @require {function} column-width

@mixin column-outset-right($columns) {
  margin-right: calc(-1 * #{ column-width($columns) });
}

/// Outsets content, left/right, based on the calculation of the given $columns.
///
/// @author Steven Keiser
///
/// @param {number} $columns
///   The number of columns to outset.
///
/// @require {mixin} column-outset-left
///
/// @require {mixin} column-outset-right

@mixin column-outset-both($columns) {
  @include column-outset-left($columns);
  @include column-outset-right($columns);
}

