/// Insets content, left, based on the calculation of the given $columns.
///
/// @author Steven Keiser
///
/// @param {number} $columns
///   The number of columns to inset.
///
/// @param {string} $prop
///   Which property to apply the inset, either "margin" or "padding".
///
/// @require {function} column-width

@mixin column-inset-left($columns, $prop) {
  @if $prop != 'padding' and $prop != 'margin' {
    @error 'The argument $prop: `#{ $prop }` must be either `padding` or `margin`.';
  }

  #{$prop}-left: column-width($columns);
}

/// Insets content, right, based on the calculation of the given $columns.
///
/// @author Steven Keiser
///
/// @param {number} $columns
///   The number of columns to inset.
///
/// @param {string} $prop
///   Which property to apply the inset, either "margin" or "padding".
///
/// @require {function} column-width

@mixin column-inset-right($columns, $prop) {
  @if $prop != 'padding' and $prop != 'margin' {
    @error 'The argument $prop: `#{ $prop }` must be either `padding` or `margin`.';
  }

  #{$prop}-right: column-width($columns);
}

/// Insets content, left/right, based on the calculation of the given $columns.
///
/// @author Steven Keiser
///
/// @param {number} $columns
///   The number of columns to inset.
///
/// @param {string} $prop
///   Which property to apply the inset, either "margin" or "padding".
///
/// @require {mixin} column-inset-left
///
/// @require {mixin} column-inset-right

@mixin column-inset-both($columns, $prop) {
  @include column-inset-left($columns, $prop);
  @include column-inset-right($columns, $prop);
}
