/// Gradient background to use on halftone images
///
/// @author George Heimel
///
///

@mixin gradient-container(){
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin gradient-top(){
  background: linear-gradient(25deg, var(--color-combo-gradient-transparent) 55%, var(--color-combo-gradient-opaque) 100%),
  linear-gradient(342deg, var(--color-combo-gradient-transparent) 60%, var(--color-combo-gradient-opaque) 103%);
}

@mixin gradient-bottom(){
  background: linear-gradient(180deg, var(--color-combo-gradient-transparent) 55%, var(--color-combo-gradient-opaque) 95%);
}

@mixin gradient-both() {
  background: linear-gradient(25deg, var(--color-combo-gradient-transparent) 55%, var(--color-combo-gradient-opaque) 95%),linear-gradient(180deg, var(--color-combo-gradient-transparent) 55%, var(--color-combo-gradient-opaque) 95%);
}
