/// Allow the content, left, to touch the edge of the screen.
/// Optionally calculate given $columns, if given.
///
/// @author Steven Keiser
///
/// @param {number} [$columns = 0]
///   The number of columns to outset.
///
/// @require {function} column-width

@mixin touch-edge-left($columns: 0) {
  @if $columns == 0 {
    margin-left: calc(-1 * var(--content-safe-area-left));
  }
  @else {
    margin-left: calc(-1 * (#{ column-width($columns) } + var(--content-safe-area-left)));
  }
}

/// Allow the content, right, to touch the edge of the screen.
/// Optionally calculate given $columns, if given.
///
/// @author Steven Keiser
///
/// @param {number} [$columns = 0]
///   The number of columns to outset.
///
/// @require {function} column-width

@mixin touch-edge-right($columns: 0) {
  @if $columns == 0 {
    margin-right: calc(-1 * var(--content-safe-area-right));
  }
  @else {
    margin-right: calc(-1 * (#{ column-width($columns) } + var(--content-safe-area-right)));
  }
}

/// Allow the content, left/right, to touch the edge of the screen.
/// Optionally calculate given $columns, if given.
///
/// @author Steven Keiser
///
/// @param {number} [$columns = 0]
///   The number of columns to outset.
///
/// @require {mixin} touch-edge-left
/// @require {mixin} touch-edge-right

@mixin touch-edge-both($columns: 0) {
  @include touch-edge-left($columns);
  @include touch-edge-right($columns);
}
