.menu--local-tasks {
  --link-hover-decoration: underline;
  --link-font-size: #{ rem(20) };

  --menu-item-margin: 0.5em;

  background-color: $color-neutral-white;
  display: flex;
  margin-bottom: $spacing-sm;
}
