{% extends '@tsai_city/node/_node.html.twig' %}

{% block node_content %}
  <div class="node__subnav">
    {{ drupal_region('subnav') }}
  </div>

  {% if content.body.0 %}
    <div class="node__body">
      {{- content.body -}}
    </div>
  {% endif %}

  {% if content.field_par_section_m.0 %}
    <div div class="node__sections">
      {{- content.field_par_section_m -}}
    </div>
  {% endif %}
{% endblock %}

{% block node_media %}
  {% if content.field_med_image_header.0 %}
    <div class="node__image">
      {{- content.field_med_image_header -}}
    </div>
  {% endif %}
{% endblock %}
