button,
[role="button"],
input[type="submit"] {
  background-color: var(--button-background-color);
  border: var(--button-border);
  color: var(--button-color);
  display: var(--button-display);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  padding: var(--button-padding);
  margin: var(--button-margin);
  text-decoration: var(--button-decoration);
  transition: var(--button-transition);
  text-transform: var(--button-text-transform);

  &:hover,
  &:focus {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-color);
    text-decoration: var(--button-hover-decoration);
  }

  &:focus {
    outline-style: dotted;
    outline-color: var(--button-color);
    outline-offset: 2px;
    outline-width: 2px;
  }
}
