.color-combo-1 {
  --color-combo-primary: #{$color-light-blue};
  --color-combo-secondary: #{$color-pink};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-black};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-light-blue,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-light-blue,10%),10%),0)};

  // Icons
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
}

.color-combo-2 {
  --color-combo-primary: #{$color-light-blue};
  --color-combo-secondary: #{$color-dark-green};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-green,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-green,10%),10%),0)};

  // Icons
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
}

.color-combo-3 {
  --color-combo-primary: #{$color-teal};
  --color-combo-secondary: #{$color-purple};
  --color-combo-primary-text: #{$color-neutral-white};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-purple,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-purple,10%),10%),0)};

  // Icons
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
}

.color-combo-4 {
  --color-combo-primary: #{$color-teal};
  --color-combo-secondary: #{$color-pink};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-black};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-pink,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-pink,10%),10%),0)};

  // Icons
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
}

.color-combo-5 {
  --color-combo-primary: #{$color-orange};
  --color-combo-secondary: #{$color-purple};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-purple,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-purple,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
}

.color-combo-6 {
  --color-combo-primary: #{$color-orange};
  --color-combo-secondary: #{$color-dark-green};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-green,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-green,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
}

.color-combo-7 {
  --color-combo-primary: #{$color-yellow};
  --color-combo-secondary: #{$color-pink};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-black};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-pink,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-pink,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
}

.color-combo-8 {
  --color-combo-primary: #{$color-yellow};
  --color-combo-secondary: #{$color-dark-blue};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-blue,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-blue,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
}

.color-combo-9 {
  --color-combo-primary: #{$color-dark-blue};
  --color-combo-secondary: #{$color-teal};
  --color-combo-primary-text: #{$color-neutral-white};
  --color-combo-secondary-text: #{$color-neutral-black};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-blue,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-blue,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
}

.color-combo-10 {
  --color-combo-primary: #{$color-dark-green};
  --color-combo-secondary: #{$color-orange};
  --color-combo-primary-text: #{$color-neutral-white};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-green,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-green,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
}

.color-combo-11 {
  --color-combo-primary: #{$color-purple};
  --color-combo-secondary: #{$color-orange};
  --color-combo-primary-text: #{$color-neutral-white};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-purple,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-purple,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
}

.color-combo-12 {
  --color-combo-primary: #{$color-pink};
  --color-combo-secondary: #{$color-yellow};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-black};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-pink,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-pink,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
}

.color-combo-13 {
  --color-combo-primary: #{$color-dark-green};
  --color-combo-secondary: #{$color-yellow};
  --color-combo-primary-text: #{$color-neutral-white};
  --color-combo-secondary-text: #{$color-neutral-black};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-green,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-green,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
}

.color-combo-14 {
  --color-combo-primary: #{$color-dark-blue};
  --color-combo-secondary: #{$color-orange};
  --color-combo-primary-text: #{$color-neutral-white};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-blue,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-blue,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
}

.color-combo-15 {
  --color-combo-primary: #{$color-yellow};
  --color-combo-secondary: #{$color-dark-green};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-green,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-green,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
}

.color-combo-16 {
  --color-combo-primary: #{$color-purple};
  --color-combo-secondary: #{$color-teal};
  --color-combo-primary-text: #{$color-neutral-white};
  --color-combo-secondary-text: #{$color-neutral-black};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-purple,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-purple,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
}

.color-combo-17 {
  --color-combo-primary: #{$color-dark-green};
  --color-combo-secondary: #{$color-light-blue};
  --color-combo-primary-text: #{$color-neutral-white};
  --color-combo-secondary-text: #{$color-neutral-black};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-green,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-green,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
}

.color-combo-18 {
  --color-combo-primary: #{$color-light-blue};
  --color-combo-secondary: #{$color-purple};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-purple,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-purple,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
}

.color-combo-19 {
  --color-combo-primary: #{$color-teal};
  --color-combo-secondary: #{$color-dark-blue};
  --color-combo-primary-text: #{$color-neutral-black};
  --color-combo-secondary-text: #{$color-neutral-white};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-blue,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-blue,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
}

.color-combo-20 {
  --color-combo-primary: #{$color-dark-blue};
  --color-combo-secondary: #{$color-yellow};
  --color-combo-primary-text: #{$color-neutral-white};
  --color-combo-secondary-text: #{$color-neutral-black};

  //gradient steps
  --color-combo-gradient-opaque: #{rgba(saturate(darken($color-dark-blue,10%),10%),0.9)};
  --color-combo-gradient-transparent: #{rgba(saturate(darken($color-dark-blue,10%),10%),0)};

  // Icons
  --color-combo-primary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow-white.svg');
  --color-combo-primary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow-white.svg');
  --color-combo-secondary-left-arrow: url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg');
  --color-combo-secondary-right-arrow: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');
}
