// Used for floating form labels
$ffl-label: ".form__label";
$ffl-floatedClass: ".form__element--floated";

.form {
  --button-font-size: #{ rem(21) };

  background-color: var(--form-background-color);
  font-family: var(--form-font-family);
  padding: var(--form-padding);
  margin: var(--form-margin);
  color: var(--form-color);

  input[type="email"],
  input[type="password"],
  input[type="text"],
  select,
  textarea {
    all: unset;
    border-bottom: rem(6) solid var(--form-color);
    font-size: var(--form-input-font-size);
    margin: 0.2em 0;
    width: 100%;

    &:focus {
      outline: rem(1) dotted var(--form-color);
    }
  }

  select {
    border-bottom: none;
  }

  textarea {
    resize: none;
  }

  // **************************************************
  // ELEMENTS

  &__label {
    font-size: var(--form-label-font-size);
    text-transform: lowercase;
  }

  &__element {
    margin-bottom: 0.5em;

    &[data-form-element-floating-label] {
      @include floating-form-labels(1.5rem, 1rem);
    }

    &--floated {
      .form__label {
        font-size: rem(16);
      }
    }

    &--select {
      position: relative;

      &::after {
        content: url(../images/down-chevron.svg);
        position: absolute;
        right: 0;
        bottom: 0.7em;
        width: var(--form-input-font-size);
        pointer-events: none;
      }
    }

    &--actions {
      @extend %arrow-icon-right;

      align-items: center;
      display: flex;
      justify-content: flex-end;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
