a {
  background-color: var(--link-background-color);
  color: var(--link-color);
  display: var(--link-display);
  font-family: var(--link-font-family);
  font-size: var(--link-font-size);
  font-weight: var(--link-font-weight);
  line-height: var(--link-line-height);
  margin: var(--link-margin);
  padding: var(--link-padding);
  text-decoration: var(--link-decoration);
  transition: var(--link-transition);

  &:hover,
  &:focus {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration);
    background-color: var(--link-hover-background-color);
  }

  &:focus {
    outline-style: dotted;
    outline-color: var(--link-hover-color);
    outline-offset: 2px;
    outline-width: 2px;
  }
}
