p {
  font-family: var(--paragraph-font-family);
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  line-height: var(--paragraph-line-height);
  margin: var(--paragraph-margin);

  &:last-of-type {
    margin-bottom: 0;
  }
}
