:root {
  // **************************************************
  // SAFE AREAS AND OFFSETS / LAYOUT

  --site-header-safe-area-top: #{ $spacing-sm };
  --site-header-safe-area-left: #{ $spacing-sm / 2 };
  --site-header-safe-area-right: #{ $spacing-sm / 2 };

  /// Prevents content from touching the bottom of the site header.
  --site-header-offset: calc(
    var(--site-header-safe-area-top) +
    var(--site-logo-height) +
    var(--site-logo-offset)
  );

  /// The height of the site logo.
  --site-logo-height: #{ rem(90) };

  /// Prevents content from touching the site logo.
  --site-logo-offset: #{ $spacing-md };

  /// Prevents content from touching the bottom edge.
  --content-safe-area-bottom: #{ $spacing-sm / 2 };

  /// Prevents content from touching the left edge.
  --content-safe-area-left: #{ $spacing-sm / 2 };

  /// Prevents content from touching the right edge.
  --content-safe-area-right: #{ $spacing-sm / 2 };

  /// Prevents content from touching the top edge.
  --content-safe-area-top: #{ $spacing-sm / 2 };

  /// The vertical gap between content, usually in grids, but can be used in
  /// css columns.
  --column-gap: #{ $spacing-sm };

  /// The horizontal gap between content, only used in grids.
  --row-gap: 0;

  /// Prevents content from touching the site footer.
  --site-footer-offset: #{ $spacing-md };

  // **************************************************
  // LINKS

  --link-background-color: transparent;
  --link-color: #{ $color-neutral-black };
  --link-decoration: none;
  --link-display: inline-block;
  --link-font-family: #{ $font-family-secondary };
  --link-font-size: inherit;
  --link-font-weight: inherit;
  --link-hover-background-color: transparent;
  --link-hover-color: inherit;
  --link-hover-decoration: inherit;
  --link-line-height: inherit;
  --link-margin: 0;
  --link-padding: 0;
  --link-transition: all 200ms ease-in-out;

  // **************************************************
  // BUTTONS

  --button-background-color: transparent;
  --button-border: none;
  --button-color: #{ $color-neutral-black };
  --button-decoration: none;
  --button-display: inherit;
  --button-font-family: #{ $font-family-secondary };
  --button-font-size: inherit;
  --button-font-weight: inherit;
  --button-hover-color: #{ $color-neutral-black };
  --button-hover-background-color: transparent;
  --button-hover-decoration: inherit;
  --button-line-height: inherit;
  --button-margin: 0;
  --button-padding: 0;
  --button-transition: all 200ms ease-in-out;
  --button-text-transform: lowercase;

  // **************************************************
  // PARAGRAPHS

  --paragraph-font-family: #{ $font-family-primary };
  --paragraph-font-weight: #{ $font-weight-primary-regular };
  --paragraph-font-size: #{ rem(20) };
  --paragraph-line-height: 1.5;
  --paragraph-margin: 0 0 1em 0;

  // **************************************************
  // SVGS

  --svg-color: #{ $color-neutral-black };
  --svg-hover-color: var(--svg-color);
  --svg-transition: fill 100ms ease-in-out;
  --svg-width: auto;
  --svg-height: 100%;

  // **************************************************
  // MENUS

  --menu-item-display: inline-block;
  --menu-item-padding: 0;
  --menu-item-margin: 0;

  // **************************************************
  // FORMS

  --form-background-color: transparent;
  --form-margin: 0;
  --form-padding: 0;
  --form-font-family: #{ $font-family-secondary };
  --form-color: #{ $color-neutral-black };

  --form-input-font-size: #{ rem(30) };
  --form-label-font-size: var(--form-input-font-size);

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1024) {
    --content-safe-area-bottom: #{ $spacing-sm };
    --content-safe-area-left: #{ $spacing-sm };
    --content-safe-area-right: #{ $spacing-sm };
    --content-safe-area-top: #{ $spacing-sm };
  }

  @media (min-width: $mq-1280) {
    --site-header-safe-area-left: #{ $spacing-md };
    --site-header-safe-area-right: #{ $spacing-md };
    --site-header-safe-area-top: #{ $spacing-md };

    --site-logo-height: #{ rem(120) };
    --site-logo-offset: #{ $spacing-xl };

    --site-footer-offset: #{ $spacing-lg };
  }

  @media (min-width: $mq-1440) {
    --column-gap: #{ $spacing-md };
  }
}
