svg {
  width: var(--svg-width);
  height: var(--svg-height);

  path,
  rect,
  polygon {
    fill: var(--svg-color);
    transition: var(--svg-transition);
  }

  &:hover {
    path,
    rect,
    polygon {
      fill: var(--svg-hover-color);
    }
  }

  // **************************************************
  // SPECIFIC CLASSES

  &.magnifying-glass {
    g {
      stroke: var(--svg-color);
    }
  }
}
