.views-mini-pager {
  &__items {
    @extend %semantic-list;

    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  &__item {
    text-transform: uppercase;

    --arrow-icon-width: #{ rem(50) };

    --link-highlight-backgroud-color: var(--color-combo-primary);
    --link-hover-color: var(--color-combo-primary-text);
    --link-font-size: #{ rem(24) };


    a {
      @extend %link-highlight;
    }

    &--next {
      @extend %arrow-icon-right;

      margin-left: $spacing-md;
    }

    &--current-page {
      display: none;
    }

    &--previous {
      @extend %arrow-icon-left;

      margin-right: $spacing-md;
    }
  }
}
