.view--search-db {
  --view-columns: 1;

  @extend %grid;

  grid-template-areas:
    "vHEAD"
    "vCONT"
    "vSIDE";

  grid-template-columns: repeat(var(--view-columns), minmax(0, 1fr));

  .view__header {
    grid-area: vHEAD;
  }

  .view__content {
    grid-area: vCONT;
  }

  .view__aside {
    grid-area: vSIDE;
  }

  &.view--page-search {
    .form--views-exposed-form {
      .form__element--actions {
        --arrow-icon-width: #{ rem(30) };
        display: inherit;
        visibility: visible;
      }

    }

    .view__header {
      padding-top: var(--site-header-offset);
    }

    .view__rows {
      ol {
        --row-gap: #{ $spacing-md };

        @extend %grid;
        @extend %semantic-list;
      }
    }

    .view__facets > .region-facets {
      h2 {
        font-size: rem(18);
        margin-bottom: 0.75em;
      }

      > * + * {
        margin-top: $spacing-sm;
      }
    }
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1280) {
    --view-columns: 12;

    grid-template-areas:
      "vHEAD vHEAD vHEAD vHEAD vHEAD vHEAD vHEAD vHEAD vHEAD vHEAD vHEAD vHEAD"
      ".     vCONT vCONT vCONT vCONT vCONT vCONT vCONT vCONT vSIDE vSIDE vSIDE"
  }
}
