.view--display-grid {
  .view__rows {
    --row-gap: #{ $spacing-md };

    @extend %grid;

    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  @media (min-width: $mq-768) {
    &.view--display-grid-columns-2 {
      .view__rows {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    &.view--display-grid-columns-3 {
      .view__rows {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }

  @media (min-width: $mq-1280) {
    &.view--display-grid-columns-3 {
      .view__rows {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }
  }
}
