.view--display-slider {
  position: relative;

  .view__slider-arrows {
    margin: $spacing-sm;
  }

  .view__slider-next-button,
  .view__slider-prev-button {
    --arrow-icon-width: #{ rem(50) };

    button {
      --button-highlight-backgroud-color: var(--color-combo-primary);
      --button-hover-color: var(--color-combo-primary-text);

      --button-font-size: #{ rem(20) };

      @extend %button-highlight;
    }
  }

  .view__slider-next-button {
    @extend %arrow-icon-right;

    // Arrow icon width to double it's margin.
    margin-left: #{ rem(100) };
    margin-top: -1rem;
  }

  .view__slider-prev-button {
    @extend %arrow-icon-left;
  }

  @media (min-width: $mq-1280) {
    .view__slider-arrows {
      position: absolute;
      right: column-width(1);
      bottom: $spacing-md;
    }

    .node-teaser--featured {
      grid-template-areas:
        "tIMG tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG tIMG tIMG tIMG"
        ".    tHEAD tHEAD tHEAD tHEAD tHEAD tHEAD tHEAD .    .    .    .";
    }
  }

  @media (min-width: $mq-1366) {
    .view__slider-arrows {
      bottom: $spacing-sm;
    }
  }
}
