.view--people {
  &.view--block-people-staff {
    .node-teaser__calendly, .node-teaser__field-label--areas-of-focus , .node-teaser__areas-of-focus {
      display: none;
      visibility: hidden;
    }

  }
}
