{% extends '@tsai_city/node/_node-teaser-featured.html.twig' %}

{% block node_teaser_header %}
  {{ parent() }}

  <div class="node-teaser__cta-link">
    {{ drupal_link('see more stories by ' ~ person_display_name , 'node/' ~ node.id) }}
  </div>
{% endblock %}

{% block node_teaser_heading %}
  {{- drupal_link(person_display_name, 'node/' ~ node.id) -}}
{% endblock %}
