{% extends '@tsai_city/node/_node.html.twig' %}

{% block node_heading %}
  {{ person_display_name }}
{% endblock %}

{% block node_content %}
  {% if content.body.0 %}
    <div class="node__body">
      {{- content.body -}}
    </div>
  {% endif %}

  {% if drupal_view_result('stories', 'embed_stories_by_author', node.id) %}
    <h3 class="node__view-title">Authored Stories</h3>

    {{ drupal_view('stories', 'embed_stories_by_author', node.id) }}
  {% endif %}
{% endblock %}

{% block node_aside %}
  <div class="node__aside">
    <section class="node__related node__related--social">
      {% if content.field_email.0 %}
        {{- content.field_email -}}
      {% endif %}

      {% if content.field_link_m.0 %}
        {{- content.field_link_m -}}
      {% endif %}
    </section>
  </div>
{% endblock %}
