{% extends '@tsai_city/node/_node-teaser-image-horizontal.html.twig' %}

{% block node_teaser_header %}
  {{ parent() }}

  {% if content.field_email.0 %}
    <div class="node-teaser__email">
      <a href="mailto:{{ content.field_email.0 }}">email {{ content.field_first_name }}</a>
    </div>
  {% endif %}
{% endblock %}

{% block node_teaser_heading %}
  {{- drupal_link(person_display_name, 'node/' ~ node.id) -}}
{% endblock %}

{% block node_teaser_content %}
  <div class="node-teaser__content">
    <div class="node-teaser__metadata">
      {% if content.field_areas_of_focus.0 %}
        <div class="node-teaser__field-label node-teaser__field-label--areas-of-focus">
          Focus Area
        </div>
        <div class="node-teaser__areas-of-focus">
          {{ content.field_areas_of_focus }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
