{% extends '@tsai_city/node/_node-teaser.html.twig' %}

{% block node_teaser_header %}
  {{- parent() -}}

  {% if content.field_professional_title.0 %}
    <div class="node__professional-title">
      {{- content.field_professional_title -}}
    </div>
  {% endif %}
{% endblock %}

{% block node_teaser_heading %}
  {{- drupal_link(person_display_name, 'node/' ~ node.id) -}}
{% endblock %}
