.node--fund {
  .paragraph--edge-to-edge {
    @include touch-edge-left();
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1280) {
    grid-template-areas:
      "nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nSIDE nSIDE nSIDE"
      ".     nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nSIDE nSIDE nSIDE";

    .paragraph--edge-to-edge {
      @include touch-edge-left(1);
    }
  }
}
