.node-teaser--program {
  // **************************************************
  // TEASER FEATURED

  &.node-teaser--featured {

  }

  // **************************************************
  // TEASER IMAGE HORIZONTAL

  &.node-teaser--image-horizontal {
    .node-teaser__time-commitment {
      grid-area: tIMG;
      z-index: 1;
      justify-self: start;
      align-self: end;
    }
  }

  // **************************************************
  // TEASER IMAGE VERTICAL

  &.node-teaser--image-vertical {
    .node-teaser__time-commitment {
      grid-area: tIMG;
      z-index: 1;
      justify-self: start;
      align-self: end;
    }
  }

  // **************************************************
  // TEASER TEXT

  &.node-teaser--text {

  }
}
