.node--program {
  --row-gap: 0;

  grid-template-areas:
    "nHEAD"
    "nMED"
    "nSIDE"
    "nCONT";

  .node__time-commitment {
    display: inline-block;
  }

  .node__image {
    @include touch-edge-both();
  }

  .node__content {
    margin-top: $spacing-md;
  }

  .paragraph--edge-to-edge {
    @include touch-edge-left();
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1280) {
    grid-template-areas:
      "nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nSIDE nSIDE nSIDE"
      "nMED  nMED  nMED  nMED  nMED  nMED  nMED  nMED  nMED  nSIDE nSIDE nSIDE"
      ".     nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nSIDE nSIDE nSIDE";

    .paragraph--edge-to-edge {
      @include touch-edge-left(1);
    }


    .node__image {
      margin-right: 0;
    }
  }
}
