{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}

  {% if items %}
    {% if menu_level == 0 %}
      {%
        set classes = [
          'menu',
          'menu--' ~ menu_name|clean_class
        ]
      %}
      <ul{{ attributes.addClass(classes) }}>
    {% else %}
      <ul class="menu">
    {% endif %}

    {% for item in items %}
      {%
        set item_classes = [
          'menu__item',
          item.below ? 'menu__item--has-submenu',
          item.in_active_trail ? 'menu__item--active'
        ]
      %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {% if item.in_active_trail %}
          {{ link(item.title, item.url, { 'aria-current': ['page'] }) }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
