{% extends '@tsai_city/node/_node.html.twig' %}

{% block node_content %}
  {% if content.body.0 %}
    <div class="node__body">
      {{- content.body -}}
    </div>
  {% endif %}

  {% if content.field_par_section_m.0 %}
    <div class="node__sections">
      {{- content.field_par_section_m -}}
    </div>
  {% endif %}
{% endblock %}
