.node-teaser--person {

  // **************************************************
  // TEASER FEATURED

  &.node-teaser--featured {

  }

  // **************************************************
  // TEASER IMAGE HORIZONTAL

  &.node-teaser--image-horizontal {
    .node-teaser__email {
      // --link-font-size: #{ rem(20) };
      --link-font-weight: #{ $font-weight-bold };
      --link-decoration: underline;
    }
  }

  // **************************************************
  // TEASER IMAGE VERTICAL

  &.node-teaser--image-vertical {
    height: 100%;

    .node-teaser__areas-of-focus {
      font-size: rem(20);
      line-height: 1.2;
    }

    .node-teaser__email {
      --link-font-size: #{ rem(20) };
      --link-font-weight: #{ $font-weight-bold };
      --link-decoration: underline;
    }

    .node-teaser__calendly {
      border: em(1) solid lighten($color-neutral-black, 75%);
      grid-area: tFOOT;
      align-self: end;

      // temp values
      width: 100%;
      max-width: 367px;
      height: 494px;

      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .node-teaser__areas-of-focus {
      font-family: $font-family-primary;
    }
  }

  // **************************************************
  // TEASER TEXT

  &.node-teaser--text {
    --link-decoration: underline;
    --link-font-size: #{ rem(21) };
    --link-margin: 0 0 0.2em 0;
  }
}
