.node--person {
  --row-gap: #{ $spacing-lg };
  --link-hover-background-color: #{$color-dark-blue};

  grid-template-areas:
    "nHEAD"
    "nSIDE"
    "nCONT";


  .node__body {
    margin-bottom: #{ $spacing-md };
  }

  .node__content {
    --row-gap: 0;
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1280) {
    grid-template-areas:
      "nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nSIDE nSIDE nSIDE"
      ".     nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT";
  }
}
