.node-teaser--project {
  // **************************************************
  // TEASER FEATURED

  &.node-teaser--featured {

  }

  // **************************************************
  // TEASER IMAGE HORIZONTAL

  &.node-teaser--image-horizontal {

  }

  // **************************************************
  // TEASER IMAGE VERTICAL

  &.node-teaser--image-vertical {

  }

  // **************************************************
  // TEASER TEXT

  &.node-teaser--text {

  }
}
