.paragraph--callout-block {
  --column-gap: 0;
  --row-gap: 0;

  @extend %grid;

  grid-template-columns: repeat(12, minmax(0, 1fr));

  grid-template-areas:
    "pIMG pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  ."
    ".    pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD";

  .paragraph__header {
    --paragraph-font-size: #{ rem(24) };
    --paragraph-font-family: #{ $font-family-secondary };

    background-color: var(--color-combo-primary);
    color: var(--color-combo-secondary);
    margin-top: calc(-300px + #{ $spacing-lg });
    padding-top: calc(300px - #{ $spacing-md });
    padding-left: column-width(1);
    padding-right: column-width(1);
    padding-bottom: $spacing-sm;
  }

  .paragraph__links {
    --link-font-size: #{ rem(20) };

    @extend %color-combo-foreground-primary;

    .link-list__item {
      @extend %arrow-icon-right;
    }

    margin-top:  $spacing-md;

    a {
      @extend %link-highlight;
    }
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-768) {
    grid-template-areas:
      ". pIMG pIMG  pIMG  pIMG  pIMG  .     .     .     .     .     . "
      ". .    .     pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD . ";

    .paragraph__header {
      --paragraph-font-size: #{ rem(32) };

      padding: $spacing-lg;
      padding-left: calc(#{ column-width(3) } + #{ $spacing-md });
    }
  }

  @media (min-width: $mq-1280) {
    grid-template-areas:
      ". pIMG pIMG pIMG  pIMG  .     .     .     .     .     . ."
      ". .    .    pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD . .";

    .paragraph__header {
      padding-left: calc(#{ column-width(1.5) } + #{ $spacing-md });
    }
  }
}
