.paragraph--statistic {
  --column-gap: 0;
  --row-gap: 0;
  --statistic-columns: 1;

  // **************************************************
  // COMMON

  @extend %grid;

  grid-template-areas:
    "pHEAD"
    "pIMG"
    "pCONT";

  grid-template-columns: repeat(var(--statistic-columns), 1fr);

  .paragraph__statistic {
    font-size: rem(60);
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
  }

  .paragraph__statistic-subhead {
    --paragraph-line-height: 1;
    --paragraph-font-family: #{ $font-family-secondary };
    --paragraph-font-weight: #{ $font-weight-bold };

    text-transform: uppercase;

    @media (min-width: $mq-1280) {
      p:nth-child(odd) {
        margin-left: -0.75em;
      }
    }
  }

  .paragraph__image {
    z-index: 1;
  }

  .paragraph__links {
    @extend %color-combo-foreground-primary;

    margin-top:  $spacing-md;

    .link-list__item {
      @extend %arrow-icon-right;
    }

    a {
      --link-font-size: #{ rem(20) };
      @extend %link-highlight;
    }
  }

  @media (min-width: $mq-1280) {
    .paragraph__statistic {
      font-size: rem(96);
    }
  }

  // **************************************************
  // LAYOUT 1

  &.paragraph--layout-1 {
    @include touch-edge-both();

    .paragraph__header {
      color: var(--color-combo-secondary);
      padding-left: var(--content-safe-area-left);
      padding-right: var(--content-safe-area-right);
      padding-bottom: $spacing-sm;
    }

    .paragraph__statistic-subhead {
      --paragraph-font-size: #{ rem(40) };
      --paragraph-margin: 0 0 0.25em 0;
    }

    .paragraph__content {
      --paragraph-font-size: #{ rem(24) };
      --paragraph-font-family: #{ $font-family-secondary };
      --paragraph-font-weight: #{ $font-weight-bold };

      background-color: var(--color-combo-primary);
      color: var(--color-combo-secondary);
      padding: $spacing-sm;
      padding-left: var(--content-safe-area-left);
      padding-right: var(--content-safe-area-right);
    }

    @media (min-width: $mq-768) {
      .paragraph__image {
        height: 450px;
      }
    }

    @media (min-width: $mq-1024) {
      --statistic-columns: 12;

      grid-template-areas:
        "pIMG pIMG pIMG  pIMG  pIMG  pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD"
        ".    .    pCONT pCONT pCONT pCONT pCONT pCONT pCONT pCONT pCONT pCONT";

      .paragraph__header {
        padding-left: $spacing-md;
      }

      .paragraph__image {
        height: 450px;
        width:450px;
        margin-bottom: -225px;
      }

      .paragraph__content {
        padding-left: 40%;
      }
    }

    @media (min-width: $mq-1280) {
      grid-template-areas:
        "pIMG pIMG pIMG  pIMG  pIMG  .   pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD"
        ".    .    pCONT pCONT pCONT pCONT pCONT pCONT pCONT pCONT pCONT pCONT";

      .paragraph__image {
        height: 650px;
        width: unset;
        margin-bottom: unset;
      }

      .paragraph__content {
        --paragraph-font-size: #{ rem(32) };

        padding: $spacing-md;
        padding-left: calc(#{ column-width(3) } + #{ $spacing-md });
        margin-top: -325px;
      }
    }
  }

  // **************************************************
  // LAYOUT 2

  &.paragraph--layout-2 {
    .paragraph__header {
      background-color: var(--color-combo-primary);
      color: var(--color-combo-secondary);
      padding: $spacing-sm;
      padding-left: var(--content-safe-area-left);
      padding-right: var(--content-safe-area-right);
    }

    .paragraph__statistic-subhead {
      --paragraph-font-size: #{ rem(40) };
      --paragraph-margin: 0;
    }

    .paragraph__content {
      --paragraph-font-size: #{ rem(24) };

      @extend %color-combo-foreground-secondary;

      background-color: var(--color-combo-secondary);
      padding: $spacing-sm;
      padding-left: var(--content-safe-area-left);
      padding-right: var(--content-safe-area-right);
    }

    @media (min-width: $mq-768) {
      --statistic-columns: 12;

      grid-template-areas:
        "pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD"
        "pCONT pCONT pCONT pCONT pCONT pCONT pCONT pIMG  pIMG  pIMG  pIMG  .";

      margin-bottom: $spacing-md;

      .paragraph__header {
        padding: $spacing-sm $spacing-md;
        padding-right: column-width(3);
      }

      .paragraph__image {
        //margin-bottom: -$spacing-md;
        width: 300px;
        height: 450px;
        margin-top: -50%;
      }

      .paragraph__content {
        --paragraph-font-size: #{ rem(36) };
        padding: $spacing-sm $spacing-md;
      }

      .paragraph__statistic-subhead {
        --paragraph-font-size: #{ rem(50) };
      }
    }

    @media (min-width: $mq-1280) {

      .paragraph__header {
        padding: $spacing-md $spacing-xl;
        padding-right: column-width(6);
      }

      .paragraph__image {
        //margin-bottom: -$spacing-md;
        width: 400px;
        height: 600px;
        margin-top: -50%;
      }

      .paragraph__content {
        --paragraph-font-size: #{ rem(36) };
        padding: $spacing-md $spacing-lg;
      }

      .paragraph__statistic-subhead {
        --paragraph-font-size: #{ rem(60) };
      }
    }
  }

  // **************************************************
  // LAYOUT 3

  &.paragraph--layout-3 {
    @include touch-edge-both();

    .paragraph__header {
      background-color: var(--color-combo-secondary);
      color: var(--color-combo-primary);
      padding: $spacing-sm;
      padding-left: var(--content-safe-area-left);
      padding-right: var(--content-safe-area-right);
    }

    .paragraph__statistic-subhead {
      --paragraph-font-size: #{ rem(40) };
      --paragraph-margin: 0;

      p:nth-child(odd) {
        margin-left: 0;
      }
    }

    .paragraph__content {
      --paragraph-font-size: #{ rem(22) };
      --paragraph-font-family: #{ $font-family-secondary };
      --paragraph-line-height: 1.2;

      background-color: var(--color-combo-primary);
      color: var(--color-combo-secondary);

      padding: $spacing-sm;
      padding-left: var(--content-safe-area-left);
      padding-right: var(--content-safe-area-right);
    }

    @media (min-width: $mq-1024) {
      --statistic-columns: 12;

      grid-template-areas:
        "pCONT pCONT pCONT pCONT pCONT pCONT pHEAD pHEAD pHEAD pHEAD pHEAD pHEAD"
        "pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  pIMG  pIMG";

      .paragraph__header {
        margin-top: $spacing-lg;
        padding: $spacing-md;
      }

      .paragraph__content {
        --paragraph-font-size: #{ rem(32) };
        padding: $spacing-md;
      }

      .paragraph__statistic-subhead {
        --paragraph-font-size: #{ rem(50) };
      }
    }


    @media (min-width: $mq-1024) {

      .paragraph__header {
        margin-top: $spacing-xl;
        padding: $spacing-lg;
      }

      .paragraph__statistic-subhead {
        --paragraph-font-size: #{ rem(60) };
      }
    }
  }
}
