.paragraph {
  &__header {
    grid-area: pHEAD;
  }

  &__content {
    grid-area: pCONT;
  }

  &__image {
    grid-area: pIMG;
  }

  &__body {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
