.paragraph--curated-content {
  @extend %grid;

  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: $mq-1280) {
    &.paragraph--inset {
      @include column-inset-both(1, margin);
    }
  }
}
