.paragraph--link {
  .paragraph__links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  // For each link field.
  .cta-block {
    --arrow-icon-width: #{ rem(50) };

    @extend %arrow-icon-right;
    @extend %cta-block;

    margin: ($spacing-sm / 2);

    flex: 1 1 30%;
    justify-content: center;
  }
}
