.paragraph--webform {
  .paragraph__body {
    margin-bottom: $spacing-md;
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-768) {
    display: flex;

    .paragraph__body {
      flex: 0 0 auto;
      width: 50%;
      margin-right: $spacing-md;
      margin-bottom: 0;
    }

    .paragraph__webform {
      flex: 1 1 auto;
      width: 50%;
    }
  }

  @media (min-width: $mq-1024) {
    @include column-inset-both(1, margin);
  }
}
