.paragraph--html-content {
  @extend %grid;

  --column-gap: #{ $spacing-md };
  --row-gap: #{ $spacing-md };

  grid-template-columns: repeat(1, minmax(0, 1fr));

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-768) {
    &.paragraph--column-width-50-50 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
