<div class="view__slider-arrows">
  <div class="view__slider-prev-button">
    <button>Previous {{ label }}</button>
  </div>

  <div class="view__slider-next-button">
    <button>Next {{ label }}</button>
  </div>
</div>
