{% if title %}
  <h3 class="view__heading">{{ title }}</h3>
{% endif %}

<{{ list.type }}{{ list.attributes }}>

  {% for row in rows %}
    {%
      set row_classes = [
        'view__row',
        'view__row--' ~ loop.index
      ]
    %}
    <li{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </li>
  {% endfor %}

</{{ list.type }}>
