<article class="node-teaser node-teaser--search-result node-teaser--{{ fields.content_type.content|lower }} {{ fields.color_combo.content }}">
  <header class="node-teaser__header">
    <span class="node-teaser__content-type">{{ fields.content_type.content }}</span>
    <h1 class="node-teaser__heading">
      {{ drupal_link(fields.title.content, 'node/' ~ fields.nid.content) }}
    </h1>
  </header>

  <div class="node-teaser__content">
    {% if fields.topics.content %}
    <div class="node-teaser__metadata">
      <div class="node-teaser__field-label node-teaser__field-label--topics">
        Topics:
      </div>
      <div class="node-teaser__topics">
        {{ fields.topics.content }}
      </div>
    </div>
    {% endif %}
    <div class="node__body">
      <p>{{ fields.search_api_excerpt.content }}</p>
    </div>
    <div class="node-teaser__relevance">
      Relevance {{ fields.search_api_relevance.content }}
    </div>
  </div>

  <div class="node-teaser__image">
    {{ fields.media_page_image.content }}
  </div>
</article>
