{% extends 'block.html.twig' %}

{% block content %}
  <a
    href="{{ path('<front>') }}"
    title="{{ 'Home'|t }}"
    aria-label="Tsai Center for Innvative Thinking"
    rel="home"
  >
    {{ source(site_logo) }}
  </a>
{% endblock %}
