.node--story {
  grid-template-areas:
      "nHEAD"
      "nMED"
      "nSIDE"
      "nCONT";

  .node__heading {
    color: var(--color-combo-secondary);
  }

  .node__image,
  .node__video {
    @include touch-edge-both();

    margin-top: -$spacing-md;
  }

  .node__video {
    @extend %responsive-video;
  }

  .node__social-share {
    margin-bottom: $spacing-md;
  }

  .node__authors {
    margin-bottom: $spacing-sm;

    .node-teaser--text {
      margin-bottom: ($spacing-sm / 2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .node__date-published {
    font-size: rem(21);
    font-style: italic;
    margin-bottom: $spacing-xl;
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1280) {
    grid-template-areas:
      "nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nSIDE nSIDE nSIDE"
      "nMED  nMED  nMED  nMED  nMED  nMED  nMED  nMED  nMED  nMED  nMED  nMED"
      ".     .     nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT .";

    .node__image {
      height: 885px;
    }

    .node__intro {
      grid-column: 3 / span 6;
    }
  }
}
