@font-face {
  font-family: "Duplicate Sans Web";
  src: url("#{ $font-src-duplicatesans }/DuplicateSans-Bold-Web.woff2") format("woff2"),
    url("#{ $font-src-duplicatesans }/DuplicateSans-Bold-Web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Duplicate Sans Web";
  src: url("#{ $font-src-duplicatesans }/DuplicateSans-Medium-Web.woff2") format("woff2"),
    url("#{ $font-src-duplicatesans }/DuplicateSans-Medium-Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
