
@font-face {
  font-family: "YaleDesign";
  src: url("#{ $font-src-yaledesign }/yaledesign-medium-webfont.eot") format("eot");
  src: url("#{ $font-src-yaledesign }/yaledesign-medium-webfont.woff") format("woff"),
    url("#{ $font-src-yaledesign }/yaledesign-medium-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
};

@font-face {
  font-family: "YaleDesign";
  src: url("#{ $font-src-yaledesign }/yaledesign-italic-webfont.eot") format("eot");
  src: url("#{ $font-src-yaledesign }/yaledesign-italic-webfont.woff") format("woff"),
    url("#{ $font-src-yaledesign }/yaledesign-italic-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
};

@font-face {
  font-family: "YaleDesign";
  src: url("#{ $font-src-yaledesign }/yaledesign-bold-webfont.eot") format("eot");
  src: url("#{ $font-src-yaledesign }/yaledesign-bold-webfont.woff") format("woff"),
    url("#{ $font-src-yaledesign }/yaledesign-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
};

@font-face {
  font-family: "YaleDesign";
  src: url("#{ $font-src-yaledesign }/yaledesign-bolditalic-webfont.eot") format("eot");
  src: url("#{ $font-src-yaledesign }/yaledesign-bolditalic-webfont.woff") format("woff"),
    url("#{ $font-src-yaledesign }/yaledesign-bolditalic-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
};
