{% set hide_header = hide_header|default('true') %}
{% set paragraph_tag = paragraph_tag|default('div') %}

{%
  set classes = [
    'paragraph',
    'paragraph--' ~ paragraph.bundle|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    is_front ? 'paragraph--is-front'
  ]
%}
<{{ paragraph_tag }}{{ attributes.addClass(classes) }}>
  {% if hide_header == 'false' %}
    <header class="paragraph__header">
      {% block paragraph_header %}
        {{- paragraph_header -}}
      {% endblock %}
    </header>
  {% endif %}

  {% block paragraph_content %}
    {{- paragraph_content -}}
  {% endblock %}

  {% block paragraph_image %}
    {{- paragraph_image -}}
  {% endblock %}
</{{ paragraph_tag }}>
