{% extends '@tsai_city/paragraph/_paragraph.html.twig' %}
{% set paragraph_tag = 'section' %}
{% set hide_header = 'false' %}

{% block paragraph_header %}
  {% if content.field_statistic.0 %}
    <div class="paragraph__statistic">
      {{- content.field_statistic -}}
    </div>
  {% endif %}

  {% if content.field_statistic_subhead.0 %}
    <div class="paragraph__statistic-subhead">
      {{- content.field_statistic_subhead -}}
    </div>
  {% endif %}

  {% if content.field_link_m.0 and content.header_links %}
    <div class="paragraph__links">
      {{ content.header_links }}
    </div>
  {% endif %}
{% endblock %}

{% block paragraph_content %}
  <div class="paragraph__content">
    {% if content.field_body.0 %}
      <div class="paragraph__body">
        {{- content.field_body -}}
      </div>
    {% endif %}

    {% if content.field_link_m.0 and content.content_links %}
      <div class="paragraph__links">
        {{- content.content_links -}}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block paragraph_image %}
  {% if content.field_med_image.0 %}
    <div class="paragraph__image">
      {{- content.field_med_image -}}
    </div>
  {% endif %}
{% endblock %}
