{% extends '@tsai_city/paragraph/_paragraph.html.twig' %}
{% set hide_header = 'false' %}
{% set paragraph_tag = 'section' %}

{% block paragraph_header %}
  {% if content.field_body.0 %}
    <div class="paragraph__body">
      {{- content.field_body -}}
    </div>
  {% endif %}

  <div class="paragraph__links">
    <ul class="link-list">
      <li class="link-list__item">
        <a href="{{- document_url -}}">Download {{ document_name -}}</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block paragraph_image %}
  {% if document_thumbnail_uri %}
    <div class="paragraph__image">
      <img src="{{- document_thumbnail_uri|image_style('file_download') -}}" alt="{{- document_name -}}" />
    </div>
  {% endif %}
{% endblock %}
