{% extends '@tsai_city/paragraph/_paragraph.html.twig' %}
{% set paragraph_tag = 'section' %}

{% block paragraph_content %}
  {% if content.field_view.0 %}
    {{- content.field_view -}}
  {% endif %}
{% endblock %}
