{% extends '@tsai_city/paragraph/_paragraph.html.twig' %}

{% block paragraph_content %}
  {% if content.field_dbl_cta_link_m.0 %}
    <div class="paragraph__links">
      {# See field--paragraph--field-dbl-cta-link-m.html #}
      {{- content.field_dbl_cta_link_m -}}
    </div>
  {% endif %}
{% endblock %}
