{% extends '@tsai_city/paragraph/_paragraph.html.twig' %}
{% set hide_header = 'false' %}
{% set paragraph_tag = 'section' %}

{% block paragraph_header %}
  {% if content.field_body.0 %}
    <div class="paragraph__body">
      {{- content.field_body -}}
    </div>
  {% endif %}

  {% if content.field_link_m.0 %}
    <div class="paragraph__links">
      {{- content.field_link_m -}}
    </div>
  {% endif %}
{% endblock %}

{% block paragraph_image %}
  {% if content.field_med_image.0 %}
    <div class="paragraph__image">
      {{- content.field_med_image -}}
    </div>
  {% endif %}
{% endblock %}
