{% extends '@tsai_city/paragraph/_paragraph.html.twig' %}

  {% block paragraph_content %}
    {% if content.field_nod_content.0 %}
      {{- content.curated_node -}}
    {% endif %}
  {% endblock %}
