{% extends '@tsai_city/paragraph/_paragraph.html.twig' %}

{% block paragraph_content %}
  {% if content.field_body.0 %}
    <div class="paragraph__body">
      {{- content.field_body -}}
    </div>
  {% endif %}

  {% if content.field_webform.0 %}
    <div class="paragraph__webform">
      {{- content.field_webform -}}
    </div>
  {% endif %}
{% endblock %}
