{% extends '@tsai_city/paragraph/_paragraph.html.twig' %}
{% set hide_header = 'true' %}

{% block paragraph_content %}
  {% if content.field_med_image.0 %}
    <div class="paragraph__image">
      {{- content.field_med_image -}}
    </div>
  {% endif %}
{% endblock %}
