{% extends '@tsai_city/paragraph/_paragraph.html.twig' %}
{% set hide_header = 'true' %}

{% block paragraph_content %}
  {% if content.field_body_m.0 %}
    {# see field--paragraph--field-body-m.html.twig #}
    {{- content.field_body_m -}}
  {% endif %}
{% endblock %}
