{%
  set classes = [
    'term-teaser',
    'term-teaser--' ~ term.bundle|clean_class,
    'term-' ~ view_mode|replace({ 'teaser_': 'teaser--' })|clean_class,
    not term.isPublished() ? 'term-teaser--unpublished',
    is_front ? 'term-teaser--is-front'
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <header class="term-teaser__header">
    {% block term_teaser_header %}
      <h1 class="term-teaser__heading">
        {% block term_teaser_heading %}
          {{- drupal_link(name, 'taxonomy/term/' ~ term.id) -}}
        {% endblock %}
      </h1>
    {% endblock %}
  </header>

  {% block term_teaser_content %}
    {{- term_teaser_content -}}
  {% endblock %}

  {% block term_teaser_image %}
    {{- term_teaser_image -}}
  {% endblock %}

  {% block term_teaser_footer %}
    {{- term_teaser_footer -}}
  {% endblock %}
</article>
