{%
  set classes = [
    'term',
    'term--' ~ term.bundle|clean_class,
    is_front ? 'term--is-front'
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <header class="term__header">
    {% block term_header %}
      <h1 class="term__heading">
        {% block term_heading %}
          {{- name -}}
        {% endblock %}
      </h1>

      {% if content.field_description.0 %}
        <div class="term__description">
          {{- content.field_description -}}
        </div>
      {% endif %}
    {% endblock %}
  </header>

  {% block term_image %}
    {{- term_image -}}
  {% endblock %}

  {% block term_statistic %}
    {{- term_statistic -}}
  {% endblock %}

  <div class="term__content">
    {% block term_content %}
      {{- term_content -}}
    {% endblock %}
  </div>
</article>
