{% extends '@tsai_city/taxonomy-term/_taxonomy-term-teaser.html.twig' %}

{% block term_teaser_image %}
  {% if content.field_med_image_page.0 %}
    <div class="term-teaser__image">
      {{- content.field_med_image_page -}}
    </div>
  {% endif %}
{% endblock %}

