.node--basic-page {
  grid-template-areas:
    "nHEAD"
    "nCONT";

  .paragraph--edge-to-edge {
    @include touch-edge-both();
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1280) {
    --node-header-columns: 9;

    grid-template-areas:
      ". nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD .     ."
      ". nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT .";

    .node__header {
      > * {
        grid-column: span 9;
      }
    }
  }

  .paragraph--edge-to-edge {
    @include touch-edge-both(1);
  }
}
