{% extends '@tsai_city/taxonomy-term/_taxonomy-term.html.twig' %}

{% block term_statistic %}
  <div class="term__statistic">
    <span>{{- content.project_count -}}</span>
    <a href="/projects?topic={{ term.id }}">{{ name.0 }} Projects</a>
  </div>
{% endblock %}

{% block term_image %}
  <div class="term__header-image">
    {% if content.field_med_image_header.0 %}
      {{- content.field_med_image_header -}}
    {% endif %}
  </div>
{% endblock %}

{% block term_content %}
  {% if
    content.field_program_details.0 and
    content.field_med_image_page.0
  %}
    <div class="term__program-details">
      {% if content.field_program_details.0 %}
        <p>{{- content.field_program_details -}}</p>
      {% endif %}

      <ul class="term__links">
        <li><a href="/programs?topic={{- term.id -}}">explore {{ name }} programs</a></li>
        <li><a href="/mentoring?">find a mentor</a></li>
        <li><a href="/events?topic={{- term.id -}}">register for an event</a></li>
      </ul>

      {% if content.field_med_image_page.0 %}
        <div class="term__page-image">
          {{- content.field_med_image_page -}}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if drupal_view_result('events_upcoming', 'embed_events_upcoming_by_topic', term.id) %}
    <div class="term__view term__view--events-upcoming">
      <h3 class="term__view-title">Upcoming Events related to {{ name }}</h3>

      {{ drupal_view('events_upcoming', 'embed_events_upcoming_by_topic', term.id) }}
    </div>
  {% endif %}

  {% if drupal_view_result('stories', 'embed_story_latest_by_topic', term.id) %}
    <div class="term__view term__view--latest-story">
      {{ drupal_view('stories', 'embed_story_latest_by_topic', term.id) }}
    </div>
  {% endif %}

  {% if drupal_view_result('projects', 'embed_projects_by_topic', term.id) %}
    <div class="term__view term__view--projects">
      <h3 class="term__view-title">Projects related to {{ name }}</h3>

      {{ drupal_view('projects', 'embed_projects_by_topic', term.id) }}
    </div>
  {% endif %}

  {% if drupal_view_result('programs', 'embed_programs_by_topic', term.id) %}
    <div class="term__view term__view--programs">
      <h3 class="term__view-title">Programs related to {{ name }}</h3>

      {{ drupal_view('programs', 'embed_programs_by_topic', term.id) }}
    </div>
  {% endif %}
{% endblock %}
