{% extends '@tsai_city/taxonomy-term/_taxonomy-term-teaser-image-vertical.html.twig' %}

{% block term_teaser_content %}
  {% if content.field_description.0 %}
    <div class="term-teaser__body">
      {{- content.field_description -}}
    </div>
  {% endif %}
{% endblock %}

{% block term_teaser_footer %}
  <footer class="term-teaser__footer">
    <div class="term-teaser__cta-link">
      {{- drupal_link('Learn more', 'taxonomy/term/' ~ term.id) -}}
    </div>
  </footer>
{% endblock %}
