%_arrow-icon {
  display: flex;
  align-items: center;

  &::after,
  &::before {
    width: var(--arrow-icon-width, #{ rem(20) });
  }
}

%arrow-icon-left {
  @extend %_arrow-icon;

  &::before {
    content: var(--arrow-icon-left-url, url('/themes/custom/tsai_city/assets/dist/images/left-arrow.svg'));
    margin-right: calc(var(--arrow-icon-width, #{ rem(20) }) / 2);
    min-height: rem(20);
    min-width: rem(20);
  }
}

%arrow-icon-right {
  @extend %_arrow-icon;

  &::after {
    content: var(--arrow-icon-right-url, url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg'));
    margin-left: calc(var(--arrow-icon-width, #{ rem(20) }) / 2);
    min-height: rem(20);
    min-width: rem(20);
  }
}
