%button-highlight {
  --button-display: inline;
  --button-hover-color: var(--button-highlight-hover-color);

  background-image: linear-gradient(
    0deg,
    var(--button-highlight-backgroud-color) 0%,
    var(--button-highlight-backgroud-color) 100%
  );
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 100%;

  &:hover,
  &:focus {
    background-size: 100% 100%;
  }
}
