%color-combo-foreground-primary {
  --button-color: var(--color-combo-primary-text);
  --button-hover-color: var(--button-color);

  // Used for the button-highlight placeholder.
  --button-highlight-backgroud-color: var(--color-combo-secondary);
  --button-highlight-hover-color: var(--color-combo-secondary-text);

  --link-color: var(--color-combo-primary-text);
  --link-hover-color: var(--link-color);

  // Used for the link-highlight placeholder.
  --link-highlight-backgroud-color: var(--color-combo-secondary);
  --link-highlight-hover-color: var(--color-combo-secondary-text);

  --form-color: var(--color-combo-primary-text);

  --svg-color: var(--color-combo-primary-text);
  --svg-hover-color: var(--svg-color);

  --arrow-icon-left-url: var(--color-combo-primary-left-arrow);
  --arrow-icon-right-url: var(--color-combo-primary-right-arrow);

  color: var(--color-combo-primary-text);
}

%color-combo-foreground-secondary {
  --button-color: var(--color-combo-secondary-text);
  --button-hover-color: var(--button-color);

  // Used for the button-highlight placeholder.
  --button-highlight-backgroud-color: var(--color-combo-primary);
  --button-highlight-hover-color: var(--color-combo-primary-text);

  --link-color: var(--color-combo-secondary-text);
  --link-hover-color: var(--link-color);

  // Used for the link-highlight placeholder.
  --link-highlight-backgroud-color: var(--color-combo-primary);
  --link-highlight-hover-color: var(--color-combo-primary-text);

  --form-color: var(--color-combo-secondary-text);

  --svg-color: var(--color-combo-secondary-text);
  --svg-hover-color: var(--svg-color);

  --arrow-icon-left-url: var(--color-combo-secondary-left-arrow);
  --arrow-icon-right-url: var(--color-combo-secondary-right-arrow);

  color: var(--color-combo-secondary-text);
}
