%cta-block {
  a {
    --link-font-size: #{ rem(24) };
    --link-display: inline-block;
    --link-margin: 0 0 0 #{ $spacing-sm };
    --link-hover-color: var(--color-combo-primary-text);

    text-transform: uppercase;
    text-align: left;

    &:hover,
    &:focus {
      span {
        background-size: 100% 100%;
      }
    }
  }

  span {
    background-image: linear-gradient(
      0deg,
      var(--color-combo-primary) 0%,
      var(--color-combo-primary) 100%
    );
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background 200ms ease-in-out;

    &:nth-of-type(odd) {
      margin-left: -$spacing-sm;
    }
  }
}


