
{% if page.content_prefix %}
  {{- page.content_prefix -}}
{% endif %}

{%
  set header_attributes = create_attribute({
    'class': [
      'site-header',
      is_front ? 'site-header--is-front'
    ],
    'data-site-header': '',
    'id': 'site-header',
  })
%}
<header{{header_attributes}}>
  {% if page.site_header %}
    {{- page.site_header -}}
  {% endif %}

  <div class="site-header__site-nav-toggle">
    <button
      data-site-nav-toggle
      class="site-nav-toggle {{ is_front ? 'site-nav-toggle--front' }}"
      aria-expanded="false"
      aria-label="Toggle navigation visibility"
    >
      <span class="site-nav-toggle__bar-1"></span>
      <span class="site-nav-toggle__bar-2"></span>
      <span class="site-nav-toggle__bar-3"></span>
      <span class="site-nav-toggle__bar-4"></span>
      {{- source(directory ~ '/assets/dist/images/magnifying-glass.svg') -}}
    </button>
  </div>

  {% if page.site_nav %}
    <div data-site-nav
      aria-expanded="false"
      aria-hidden="true"
      class="site-nav" role="dialog">
      <div data-site-nav-wrapper class="site-nav__wrapper">
        {{- page.site_nav -}}
      </div>
    </div>
  {% endif %}
</header>

{%
  set main_attributes = create_attribute({
    'class': [
      'site-main',
      is_front ? 'site-main--is-front'
    ],
    'data-site-main': '',
    'id': 'site-main'
  })
%}
<main{{main_attributes}}>
  {{- page.content -}}
</main>

<div class="site-pre-footer">
  <div class="site-pre-footer__wrapper">
    <div class="site-pre-footer__sign-up-widget">
      {{- drupal_entity('webform', 'signup') -}}
    </div>

    <div class="site-pre-footer__logos">
      <div class="site-pre-footer__tsai-city-logo">
        {{- source(directory ~ '/logo.svg') -}}
      </div>
      <div class="site-pre-footer__yale-logo">
        {{- source(directory ~ '/assets/dist/images/yale.svg') -}}
      </div>
    </div>
    <div class="site-pre-footer__social-menu">
      {{- drupal_menu('social') -}}
    </div>
  </div>
</div>

{%
  set footer_attributes = create_attribute({
    'class': [
      'site-footer',
      is_front ? 'site-footer--is-front'
    ],
    'data-site-footer': '',
    'id': 'site-footer'
  })
%}
<footer{{footer_attributes}}>
  {% if page.site_footer %}
    {{- page.site_footer -}}
  {% endif %}

  <p class="site-footer__copyright">
    Copyright &copy; {{ "now"|date("Y") }} Yale University &middot; All rights reserved
  </p>
</footer>
