.term--topics {
  --row-gap: #{ $spacing-lg };

  --term-heading-margin: 0;
  --term-header-offset: -260px;
  --term-columns: 1;

  grid-template-areas:
    "tIMG"
    "tHEAD"
    "tCONT";

  grid-template-columns: repeat(var(--term-columns), minmax(0, 1fr));

  .term__header {
    @extend %color-combo-foreground-primary;
    @include touch-edge-both();

    background-color: var(--color-combo-primary);
    grid-area: tHEAD;
    margin-top: var(--term-header-offset);
    padding: $spacing-sm;
    z-index: 1;
  }

  .term__description {
    --paragraph-font-size: #{ rem(32) };

    margin-top: $spacing-md;
  }

  .term__header-image {
    @include touch-edge-both();

    grid-area: tIMG;
    height: 900px;
    overflow: hidden;

    .media--image {
      position: relative;
      &:after {
        @include gradient-container();
        @include gradient-top();
      }

      img {
        filter: brightness(0.8);
      }
    }
  }

  .term__statistic {
    --link-font-size: #{ rem(40) };
    --link-decoration: underline;

    --link-highlight-backgroud-color: var(--color-combo-primary);
    --link-hover-color: var(--color-combo-primary-text);

    align-self: end;
    display: none;
    text-transform: uppercase;
    font-family: $font-family-secondary;
    text-align: right;

    span {
      font-size: rem(75);
      display: block;
    }

    a {
      @extend %link-highlight;
    }
  }

  .term__content {
    --row-gap: #{ $spacing-lg };

    @extend %grid;

    grid-area: tCONT;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .term__program-details {
    --row-gap: #{ $spacing-md };

    @extend %grid;

    background: $color-teal;
    margin-bottom: 130px;
    padding-bottom: calc(var(--content-safe-area-bottom) * 2);
    padding-left: calc(var(--content-safe-area-left) * 2);
    padding-right: calc(var(--content-safe-area-right) * 2);
    padding-top: calc(var(--content-safe-area-top) * 2);
    grid-template-columns: repeat(1, minmax(0, 1fr));

    p {
      --paragraph-font-size: #{ rem(32) };
      --paragraph-font-family: #{ $font-family-secondary };
      line-height: 1.4;
    }
  }

  .term__links {
    @extend %semantic-list;

    li {
      --link-font-size: #{ rem(20) };
      --link-highlight-backgroud-color: #{ $color-dark-blue };
      --link-hover-color: #{ $color-neutral-white };

      --arrow-icon-right: url('/themes/custom/tsai_city/assets/dist/images/right-arrow.svg');

      @extend %arrow-icon-right;

      a {
        @extend %link-highlight;
      }

      margin-bottom: $spacing-sm;
    }
  }

  .term__page-image {
    margin-bottom: -160px;
    height: 320px;
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-768) {
    .term__program-details {
      margin-bottom: 200px;
      grid-template-columns: 1.7fr 1fr 1fr;

      p {
        grid-column: span 3;
      }

      .term__page-image {
        grid-column: span 2;
        margin-bottom: -2200px;
        height: 400px;
      }
    }
  }

  @media (min-width: $mq-1024) {
    --term-columns: 12;

    grid-template-areas:
      "tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG"
      ".     tSTAT tSTAT tSTAT tHEAD tHEAD tHEAD tHEAD tHEAD tHEAD tHEAD ."
      "tCONT tCONT tCONT tCONT tCONT tCONT tCONT tCONT tCONT tCONT tCONT tCONT";

    .term__statistic {
      display: block;
      grid-area: tSTAT;
    }

    .term__header {
      margin-left: 0;
      margin-right: 0;
      padding: $spacing-md;
    }

    .term__program-details {
      @include column-inset-both(1, margin);
    }

    .term__view--events-upcoming,
    .term__view--projects,
    .term__view--programs {
      @include column-inset-both(1, margin);
    }

    .term__view--latest-story {
      @include touch-edge-both();
    }

    .term__page-image {
      @include column-outset-right(1);
    }
  }

  @media (min-width: $mq-1280) {
    .term__program-details {
      @include column-inset-both(2, margin);
    }
  }
}
