.node-teaser--image-vertical {
  --row-gap: #{ $spacing-sm };

  grid-template-areas:
    "tIMG"
    "tHEAD"
    "tCONT"
    "tFOOT";

  grid-template-columns: repeat(1, minmax(0, 1fr));

  .node-teaser__heading {
    --link-font-size: #{ rem(32) };
    --link-margin: 0;
  }

  .node-teaser__metadata {
    font-family: $font-family-secondary;
    margin-bottom: $spacing-sm;

    > *:not(.node-teaser__field-label) {
      margin-bottom: ($spacing-sm / 2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .node-teaser__field-label {
    font-size: rem(14);
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  .node-teaser__footer {
    .node-teaser__topics {
      font-size: var(--link-font-size);
      margin-bottom: ($spacing-sm / 2);
    }
    details.node-teaser__topics {
      cursor: pointer;
      summary {
        margin-bottom: ($spacing-sm / 2);
      }
    }
  }

  .node-teaser__cta-link {
    --link-highlight-backgroud-color: var(--color-combo-primary);
    --link-hover-color: var(--color-combo-primary-text);
  }
}
