.node-teaser--featured {
  --column-gap: 0;
  --row-gap: 0;

  --node-teaser-columns: 1;

  grid-template-columns: repeat(var(--node-teaser-columns), minmax(0, 1fr));
  grid-template-areas:
    "tIMG"
    "tHEAD";
  position: relative;

  .node-teaser__header {
    --column-gap: 0;
    --row-gap: #{ $spacing-sm };

    @extend %grid;
    @extend %color-combo-foreground-primary;

    background-color: var(--color-combo-primary);
    border-top: rem(12) solid var(--color-combo-secondary);
    padding-bottom: calc(2 * var(--content-safe-area-bottom));
    padding-left: calc(2 * var(--content-safe-area-left));
    padding-right: calc(2 * var(--content-safe-area-right));
    padding-top: calc(2 * var(--content-safe-area-top));
    z-index: 1;
  }

  .node-teaser__heading {
    --link-font-size: clamp(#{ rem(24) }, 5vw, #{ rem(40) });
    --link-margin: 0;
  }

  .node-teaser__cta-link {
    @extend %color-combo-foreground-primary;
  }

  .node-teaser__body {
    display: none;
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1280) {
    --node-teaser-columns: 12;

    grid-template-areas:
      "tIMG tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG  tIMG"
      ".    tHEAD tHEAD tHEAD tHEAD tHEAD tHEAD tHEAD tHEAD tHEAD tHEAD .";

    .node-teaser__header {
      margin-left: var(--content-safe-area-left);
      margin-right: var(--content-safe-area-right);
      margin-top: -220px;
      padding-top: calc(3 * var(--content-safe-area-top));
      padding-bottom: calc(3 * var(--content-safe-area-bottom));
    }
  }
}
