.node-teaser--image-horizontal {
  --column-gap: #{ $spacing-md };
  --row-gap: #{ $spacing-sm };

  --node-teaser-columns: 1;

  grid-template-areas:
    "tIMG"
    "tHEAD"
    "tCONT";

  grid-template-columns: repeat(var(--node-teaser-columns), minmax(0, 1fr));
  grid-template-rows: max-content;

  padding-left: $spacing-md;
  padding-right: $spacing-md;

  .node-teaser__heading {
    --link-font-size: #{ rem(32) };
    --link-margin: 0;
  }

  .node-teaser__metadata {
    font-family: $font-family-secondary;
    margin-bottom: $spacing-sm;

    > *:not(.node-teaser__field-label) {
      margin-bottom: $spacing-sm;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .node-teaser__field-label {
    font-size: rem(18);
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1024) {
    --node-teaser-columns: 2;
    --row-gap: #{ $spacing-md };

    grid-template-areas:
      "tIMG tHEAD"
      "tIMG tCONT";

    padding-left: unset;
    padding-right: unset;

    .node-teaser__header {
      margin-top: $spacing-lg;
    }

    /* .node-teaser__metadata {
      margin-bottom: $spacing-md;

      > *:not(.node-teaser__field-label) {
        margin-bottom: $spacing-md;
      }
    } */
  }
}
