.node-teaser--search-result {
  --column-gap: #{ $spacing-sm };
  --row-gap: #{ $spacing-sm };

  grid-template-areas:
    "tHEAD"
    "tIMG"
    "tCONT";

  .node-teaser__highlighted {
    background-color: $color-light-blue;
  }

  .node-teaser__heading {
    --link-font-size: #{ rem(32) };
  }

  .node-teaser__content-type {
    text-transform: uppercase;
    display: block;
  }

  .node-teaser__metadata {
    font-family: $font-family-secondary;
  }

  .node-teaser__topics {
    --link-decoration: underline;
  }

  .node-teaser__content > * + * {
    margin-top: $spacing-sm;
  }

  .node-teaser__image {
    height: 200px;
  }


  .node-teaser__relevance {
    margin-top: $spacing-sm;
    color: lighten($color-neutral-black, 50%);
    font-size: rem(12);
  }

  @media (min-width: $mq-1024) {
    grid-template-areas:
      "tIMG tHEAD"
      "tIMG tCONT";

    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content;
  }
}
