.node {
  --node-columns: 1;
  --node-header-columns: 1;
  --node-heading-font-size: clamp(#{ rem(56) }, 6vw, #{ rem(75) });

  --row-gap: #{ $spacing-md };

  @extend %grid;

  grid-template-columns: repeat(var(--node-columns), minmax(0, 1fr));
  grid-template-rows: max-content;

  &__header {
    --row-gap: #{ $spacing-sm };

    @extend %grid;
    @include touch-edge-both();

    grid-area: nHEAD;
    grid-template-columns: repeat(var(--node-header-columns), minmax(0, 1fr));
    order: 1;
    padding-top: var(--site-header-offset);
    padding-left: var(--content-safe-area-left);
    padding-right: var(--content-safe-area-right);
    grid-template-rows: min-content;
  }

  &__heading {
    font-size: var(--node-heading-font-size);
    // margin-bottom: 0.5em;
  }

  &__content {
    --row-gap: #{ $spacing-md };

    @extend %grid;

    align-items: start;
    grid-area: nCONT;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: min-content;

    .node__related--programs {
      @extend %grid;

      align-items: start;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: min-content;

      >h5 {
        grid-column: 1/-1;
      }
    }
  }

  &__image,
  &__video {
    grid-area: nMED;
    overflow: hidden;
  }

  &__sections {
      > * {
      margin-bottom: $spacing-md;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__registration-link {
    --arrow-icon-width: #{ rem(50) };

    @extend %arrow-icon-right;
    @extend %cta-block;

    justify-self: center;
  }

  &__view-title,
  &__field-label {
    font-size: rem(24);
    margin-bottom: 0.75em;
  }

  // **************************************************
  // ASIDE MODIFIERS

  &--with-aside {
    grid-template-areas:
      "nHEAD"
      "nCONT"
      "nSIDE";

    .node__header {
      @extend %color-combo-foreground-primary;

      background-color: var(--color-combo-primary);
      // color: var(--color-combo-primary-text);
      padding-bottom: $spacing-lg;
    }

    .node__aside {
      grid-area: nSIDE;

      h5 {
        text-transform: uppercase;
        margin-bottom: 0.5em;
      }

      .node__related {
        margin-bottom: $spacing-lg;

        .node-teaser--text {
          --link-font-size: #{ rem(20) };
          --link-decoration: underline;
        }

        .node-teaser--image-vertical {
          margin-bottom: $spacing-md;
        }

        &--metadata {
          div {
            margin-bottom: $spacing-sm;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1280) {
    --node-columns: 12;

    &--is-front {

    }

    &--with-aside {
      --node-header-columns: 9;

      .node__header {
        margin-right: 0;

        > * {
          grid-column: 2 / span 7;
        }

        .node__body,
        .node__intro {
          grid-row: 2;

          /* p {
            break-inside: avoid;
          } */
        }
      }

      .node__aside {
        padding-top: var(--site-header-offset);
      }
    }
  }
}
