.node-teaser {
  @extend %grid;

  &__header {

    grid-area: tHEAD;
  }

  &__heading {
    a {
      --link-highlight-backgroud-color: var(--color-combo-primary);
      --link-hover-color: var(--color-combo-primary-text);
      --link-line-height: 1.1;

      @extend %link-highlight;
    }
  }

  &__content {
    grid-area: tCONT;
  }

  &__image {
    grid-area: tIMG;
    overflow: hidden;
  }

  &__footer {
    grid-area: tFOOT;
  }

  &__cta-link {
    --link-font-size: #{ rem(20) };

    @extend %arrow-icon-right;

    a {
      @extend %link-highlight;
    }
  }
}
