{% extends '@tsai_city/node/_node-teaser-image-vertical.html.twig' %}

{% block node_teaser_content %}
  <div class="node-teaser__content">
    <div class="node-teaser__metadata">
      {% if content.field_tax_academic_years_m.0 %}
        <div class="node-teaser__field-label node-teaser__field-label--academic-years">
          Academic Years
        </div>
        <div class="node-teaser__academic-years">
          {{- content.field_tax_academic_years_m -}}
        </div>
      {% endif %}

      {% if content.field_team.0 %}
        <div class="node-teaser__field-label node-teaser__field-label--team">
          Team
        </div>
        <div class="node-teaser__team">
          {{- content.field_team -}}
        </div>
      {% endif %}

      {% if content.field_tax_topics_m.0 %}
        <div class="node-teaser__field-label node-teaser__field-label--topics">
          Topics
        </div>
        <div class="node-teaser__topics">
          {{- content.field_tax_topics_m -}}
        </div>
      {% endif %}
    </div>

    {% if content.body.0 %}
      <div class="node-teaser__body">
        {{- content.body -}}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block node_teaser_footer %}
  <footer class="node-teaser__footer">
    <div class="node-teaser__cta-link">
      {{- drupal_link('Learn more', 'node/' ~ node.id) -}}
    </div>
  </footer>
{% endblock %}
