{% extends '@tsai_city/node/_node.html.twig' %}

{% block node_content %}
  {% if content.body.0 %}
    <div class="node__body">
      {{- content.body -}}
    </div>
  {% endif %}

  {% if content.field_team.0 %}
    <div class="node__team">
      <h3 class="node__field-label">Team</h3>
      {{ content.field_team }}
    </div>
  {% endif %}

  {% if content.field_par_section_m.0 %}
    <div class="node__sections">
      {{ content.field_par_section_m }}
    </div>
  {% endif %}

  {% if content.field_link.0 %}
    <div class="node__registration-link">
      <a href="{{- content.field_link.0['#url'].uri -}}">
        <span>{{ content.field_link.0['#title'] }}</span>
      </a>
    </div>
  {% endif %}

  {% if content.field_nod_program_m.0 %}
    <section class="node__related node__related--programs">
      <h5>Related Programs</h5>

      {{ content.field_nod_program_m }}
    </section>
  {% endif %}
{% endblock %}

{% block node_aside %}
  <aside class="node__aside">
    {% if
      content.field_tax_academic_years_m.0 or
      content.field_tax_topics_m.0
    %}
      <section class="node__related node__related--metadata">
        {% if content.field_tax_academic_years_m.0 %}
          <h5>Academic Years</h5>
          <div class="node__academic-years">
            {{ content.field_tax_academic_years_m }}
          </div>
        {% endif %}

        {% if content.field_tax_topics_m.0 %}
          <h5>Topics</h5>
          <div class="node__topics">
            {{content.field_tax_topics_m}}
          </div>
        {% endif %}
      </section>
    {% endif %}

    {% if content.field_nod_fund_m.0 %}
      <section class="node__related node__related--funds">
        <h5>Related Funds</h5>

        {{ content.field_nod_fund_m }}
      </section>
    {% endif %}

    {% if drupal_view_result('stories', 'embed_stories_list_by_project', node.id) %}
      <section class="node__related node__related--stories">
        <h5>Related Stories</h5>

        {{ drupal_view('stories', 'embed_stories_list_by_project', node.id) }}
      </section>
    {% endif %}
  </aside>
{% endblock %}
