{% extends '@tsai_city/node/_node-teaser.html.twig' %}

{% block node_teaser_image %}
  {% if content.field_med_image_page.0 %}
    <div class="node-teaser__image">
      {{- content.field_med_image_page -}}
    </div>
  {% endif %}
{% endblock %}
