{%
  set classes = [
    'node',
    'node--' ~ node.bundle|clean_class,
    not node.isPublished() ? 'node--unpublished',
    is_front ? 'node--is-front'
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <header class="node__header">
    {% block node_header %}
      <h1 class="node__heading">
        {% block node_heading %}
          {{- label -}}
        {% endblock %}
      </h1>
    {% endblock %}
  </header>

  {% block node_media %}
    {{- node_media -}}
  {% endblock %}

  <div class="node__content">
    {% block node_content %}
      {{- node_content -}}
    {% endblock %}
  </div>

  {% block node_aside %}
    {{- node_aside -}}
  {% endblock %}
</article>
