{%
  set classes = [
    'node-teaser',
    'node-teaser--' ~ node.bundle|clean_class,
    'node-' ~ view_mode|replace({ 'teaser_': 'teaser--' })|clean_class,
    not node.isPublished() ? 'node-teaser--unpublished',
    is_front ? 'node-teaser--is-front'
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {% block node_teaser_image %}
    {{- node_teaser_image -}}
  {% endblock %}

  <header class="node-teaser__header">
    {% block node_teaser_header %}
      <h1 class="node-teaser__heading">
        {% block node_teaser_heading %}
          {{- drupal_link(label, 'node/' ~ node.id) -}}
        {% endblock %}
      </h1>
    {% endblock %}
  </header>

  {% block node_teaser_content %}
    {{- node_teaser_content -}}
  {% endblock %}

  {% block node_teaser_footer %}
    {{- node_teaser_footer -}}
  {% endblock %}
</article>
