<ul class="link-list">
  {% for item in items %}
    {% set title = item.content['#title'] %}
    {% set url = item.content['#url'] %}

    <li class="link-list__item">
      <a
        aria-label="{{- title -}}"
        href="{{- url -}}"
        title="{{- title -}}">{{ title }}</a>
    </li>
  {% endfor %}
</ul>
