<ul class="topics-list">
  {% for item in items %}
    {% set title = item.content['#title'] %}
    {% set url = item.content['#url'] %}

    <li class="topics-list__item">
      <a
        aria-label="{{- title -}}"
        href="{{- url -}}"
        title="{{- title -}}">
        {{ source(directory ~ '/assets/dist/images/tag.svg') }}
        {{ title }}
      </a>
    </li>
  {% endfor %}
</ul>
