{% extends '@tsai_city/node/_node-teaser-image-horizontal.html.twig' %}

{% block node_teaser_content %}
  <div class="node-teaser__content">
    <div class="node-teaser__metadata">
      {% if content.field_tax_topics_m.0 %}
        <div class="node-teaser__field-label node-teaser__field-label--topics">
          Topics
        </div>
        <div class="node-teaser__topics">
          {{- content.field_tax_topics_m -}}
        </div>
      {% endif %}
    </div>

    {% if content.body.0 %}
      <div class="node-teaser__body">
        {{- content.body -}}
      </div>
    {% endif %}
  </div>
{% endblock %}
