{% extends '@tsai_city/node/_node.html.twig' %}

{% block node_content %}
  {% if content.field_par_section_m.0 %}
    <div class="node__sections">
      {{ content.field_par_section_m }}
    </div>
  {% endif %}

  {% if content.field_link.0 %}
    <div class="node__registration-link">
      {{ content.field_link }}
    </div>
  {% endif %}
{% endblock %}

{% block node_aside %}
  <aside class="node__aside">
    {% if
      content.field_tax_topics_m.0
    %}
      <section class="node__related node__related--metadata">
        {% if content.field_tax_topics_m.0 %}
          <h5>Topics</h5>
          <div class="node__topics">
            {{content.field_tax_topics_m}}
          </div>
        {% endif %}
      </section>
    {% endif %}

    {% if drupal_view_result('stories', 'embed_stories_list_by_fund', node.id) %}
      <section class="node__related node__related--stories">
        <h5>Related Stories</h5>

        {{ drupal_view('stories', 'embed_stories_list_by_fund', node.id) }}
      </section>
    {% endif %}
  </aside>
{% endblock %}
