.addthis_inline_share_toolbox {
  .at-share-btn-elements {
    .at-share-btn {
      &:hover {
        background-color: var(--color-combo-primary) !important;
        transform: unset;
      }
      svg.at-icon {
        path {
          fill: white;
        }
      }
    }
  }
}
