.cas-login-link {
  --link-color: #{ $color-neutral-white };
  --link-font-size: #{ rem(20) };
  --link-font-weight: $font-weight-bold;
  --link-line-height: 1.1;
  --link-margin: 0 0 #{ $spacing-sm / 2 } 0;
  --link-padding: 1rem;
  --link-display: inline-flex;
  --link-background-color: #{ $color-dark-blue };
  --link-hover-background-color: #{ $color-dark-green };
  --link-hover-color: #{ $color-neutral-white };

  align-items: center;
  flex-wrap: wrap;

  img {
    width: 100px;
    height: auto;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  // **************************************************
  // MEDIA QUERIEs

  @media (min-width: $mq-1024) {
    flex-wrap: nowrap;

    img {
      width: 150px;
      margin-bottom: 0;
    }
  }
}
