.node__body, .paragraph__body, .cke_editable {
  --paragraph-font-size: #{ rem(20) };
  --link-display: inline;

  h3 {
    font-size: rem(36);
    margin-bottom: .35em;
  }

  h4 {
    font-size: rem(24);
    margin-bottom: .35em;
  }

  h5 {
    font-size: rem(20);
    margin-bottom: .35em;
  }

  h6 {

  }

  p {
    position: relative;

  }

  ul, ol {
    margin: var(--paragraph-margin);

    li {
      font-size: var(--paragraph-font-size);
      line-height: 1.5;
      margin: 0 0 .35em 0;
      padding-left: 1rem;
    }
  }

  blockquote {
    width: column-width(11);
    padding: 1rem;
    padding-left: column-width(1.75);
    margin: 2rem auto;
    @include column-outset-left(1);
    background-color: var(--color-combo-secondary);

    P {
      font-size: rem(48);
      font-family: $font-family-secondary;
      font-weight: $font-weight-bold;
      color: var(--color-combo-primary);
      line-height: 1.2;
      text-align: right;

      &.cite {
        font-size: rem(20);
        font-weight: $font-weight-secondary-regular;
        float: right;
      }
    }
  }

  .small-quote {
    font-size: 2rem;
    font-style: italic;
    font-weight: $font-weight-primary-regular;
    line-height: 1.4;
  }

  .cite {
    font-size: rem(20);
    font-family: $font-family-secondary;
    font-weight: $font-weight-secondary-regular;
    float: right;
  }

  figure {
    display: inline-table;
    position: relative;
    width: auto;

    margin: 2rem 0 3rem 0;

    &.align-left {
      float: left;
      margin: 2rem 3rem 2rem 0;
    }

    &.align-right {
      float: right;
      margin: 2rem 0rem 2rem 3rem;
    }

    &.align-center {
      margin: 2rem auto 3rem auto;
    }

    figcaption {
      display: table-caption;
      caption-side: bottom;
      padding: .5em 0;
      font-size: 16px;
      font-family: $font-family-secondary;
      font-weight: $font-weight-secondary-regular;
    }

    > figure.media {
      margin: 0;
    }
  }

  /* Calendly  */
  .calendly-embed {
    border: em(1) solid lighten($color-neutral-black, 75%);
    position: relative;
    width: 340px;
    height: 650px;

    @media (min-width: $mq-768) {
      width: 100%;
      height: 866px;
    }

    > iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .media--image {
    width: auto;
    height: auto;
    @extend %object-fit--cover;

    img {
      width: 100%;
      height: auto;
      @extend %object-fit--cover;
    }
  }



  /* color text options */
  .primary-color {
    color: var(--color-combo-primary);
  }
  .secondary-color {
    color: var(--color-combo-secondary);
  }
  .big-text {
    font-weight: $font-weight-bold;
    font-size: rem(36);
  }

}

/* Styles specific to editing in ck editor */
.cke_editable {
  blockquote {
    width: 50%;
    margin: 2rem 3rem 2rem 0;
    padding: 2rem 2rem 2rem 2rem;
  }
  figure {
    border: 1px dotted blue;

    &.align-left {
      margin-left: 0;
    }

    figcaption {
      min-height: 2rem;
      background-color: lightcyan;
    }
  }

  drupal-media.cke_widget_element {
    border: 1px solid cyan;
    position: relative;
    overflow: hidden;
    z-index: 1000;

    button.media-library-item__edit {
      display: block;
      border: 1px solid #555;
      background-color: #dcdcdc;
      padding: .1em;
      &:hover {
        background-color: darkblue;
        color: white;
      }
    }
  }

}

// Media Queries
@media (min-width: $mq-768) {
  .node__body, .paragraph__body, .cke_editable {
    blockquote {
      float: left;
      width: column-width(8);
      padding: 2rem;
      padding-left: column-width(1.75);
      margin: 2rem 3rem 2rem 0;
      @include column-outset-left(3);

      .page--node-basic-page & {
        @include column-outset-left(2);
      }
    }
  }

}

@media (min-width: $mq-1280) {
  .node__body, .paragraph__body, .cke_editable {
    blockquote {
      float: left;
      width: column-width(6);
      padding: 2rem;
      padding-left: column-width(2);
    }

    figure {
      &.align-left {
        float: left;
        margin: 2rem 3rem 2rem 0;
        @include column-outset-left(1);
      }
    }
  }
}
