.time-commitment {
  display: flex;
  --svg-width: #{ rem(26) };

  svg {
    margin: rem(10);
  }

  &--low {
    background-color: $color-pink;
  }

  &--medium {
    background-color: $color-orange;
  }

  &--high {
    background-color: $color-teal;
  }
}
