.topics-list {
  @extend %semantic-list;

  --svg-width: #{ rem(21) };
  --link-font-size: #{ rem(16) };
  --link-display: flex;
  --link-padding: 0 0.25em 0.25em 0;
  --link-decoration: underline;
  --link-font-family: #{ $font-family-primary };

  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 0 0.5em 0.5em 0;
  }

  svg {
    margin-right: 0.25em;
  }

  a {
    align-items: center;
  }
}
