.node--landing-page {
  --row-gap: #{ $spacing-md };

  grid-template-areas:
    "nHEAD"
    "nCONT";

  .node__image {
    @include touch-edge-both();

    grid-area: nHEAD;
    height: rem(850);

    .media--image {
      position: relative;
      &:after {
        @include gradient-container();
        @include gradient-top();
      }
    }
  }

  .node__content {
    --row-gap: 0;
    --node-content-columns: 1;

    @extend %grid;

    grid-template-columns: repeat(var(--node-content-columns), minmax(0, 1fr));
    grid-area: nCONT;
    grid-template-areas:
      "nSUB"
      "nBODY"
      "nSEC";
  }

  .node__subnav {
    --arrow-icon-width: #{ rem(30) };

    --link-font-size: #{ rem(28) };
    --link-font-weight: #{ $font-weight-bold };
    --link-highlight-backgroud-color: var(--color-combo-secondary);
    --link-hover-color: var(--color-combo-secondary-text);

    grid-area: nSUB;

    .menu__item {
      @extend %arrow-icon-right;

      border-bottom: em(1) solid lighten($color-neutral-black, 75%);
      padding-bottom: ($spacing-sm / 2);
      margin-bottom: ($spacing-sm / 2);

      a {
        @extend %link-highlight;
      }

      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
      }
    }
  }

  .node__sections {
    grid-area: nSEC;
    margin-top: $spacing-lg;
  }

  .node__body {
    grid-area: nBODY;
  }

  .paragraph--edge-to-edge {
    @include touch-edge-both();
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-1280) {
    --node-header-columns: 12;

    grid-template-areas:
      "nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD nHEAD"
      "nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT nCONT";

    .node__header {
      > * {
        grid-column: 2 / span 10;
      }
    }

    .node__content {
      --node-content-columns: 12;

      grid-template-areas:
        "nSUB nSUB nSUB nBODY nBODY nBODY nBODY nBODY nBODY nBODY nBODY nBODY"
        "nSEC nSEC nSEC nSEC  nSEC  nSEC  nSEC  nSEC  nSEC  nSEC  nSEC  nSEC";
    }
  }
}
