.page {
  &--is-front {
    .site-main {
      padding-bottom: 0;
    }
  }

  &--node-homepage,
  &--node-landing-page,
  &--term-topics {
    .site-header {
      --svg-color: #{$color-neutral-white};
      --svg-hover-color: #{$color-neutral-white};
    }
    .site-nav-toggle:not([aria-expanded="true"]) {
      --button-color: #{$color-neutral-white};
    }
  }
}
