.site-pre-footer {
  --svg-width: #{ rem(32) };

  @extend %color-combo-foreground-secondary;

  background-color: var(--color-combo-secondary);
  padding-bottom: $spacing-md;
  padding-left: var(--content-safe-area-left);
  padding-right: var(--content-safe-area-right);
  padding-top: calc(#{ $spacing-lg });

  &__wrapper {
    --column-gap: 0;
    --row-gap: #{ $spacing-md };
    --pre-footer-columns: 1;

    @extend %grid;

    grid-template-columns: repeat(var(--pre-footer-columns), minmax(0, 1fr));
    grid-template-areas:
      "pfSIGNUP"
      "pfLOGOS"
      "pfSOCIAL";
  }

  &__sign-up-widget {
    grid-area: pfSIGNUP;
  }

  &__logos {
    --column-gap: #{ $spacing-sm };
    --row-gap: #{ $spacing-sm };

    @extend %grid;

    align-items: center;
    grid-area: pfLOGOS;
    grid-template-columns: repeat(2, 1fr);
  }

  &__tsai-city-logo {
    --svg-width: 200px;
  }

  &__yale-logo {
    --svg-width: 80px;
  }

  &__social-menu {
    grid-area: pfSOCIAL;
    margin-left: $spacing-md;
  }

  // **************************************************
  // MEDIA QUERIES

  @media (min-width: $mq-768) {
    &__wrapper {
      --pre-footer-columns: 12;

      grid-template-areas:
        "pfSIGNUP pfSIGNUP pfSIGNUP pfSIGNUP pfSIGNUP pfSIGNUP . pfLOGOS pfLOGOS  pfLOGOS  pfLOGOS  pfLOGOS"
        "pfSIGNUP pfSIGNUP pfSIGNUP pfSIGNUP pfSIGNUP pfSIGNUP . pfSOCIAL pfSOCIAL pfSOCIAL pfSOCIAL pfSOCIAL";
    }
  }

  @media (min-width: $mq-1024) {
    &__wrapper {
      grid-template-areas:
        ". pfSIGNUP pfSIGNUP pfSIGNUP pfSIGNUP pfSIGNUP . . pfLOGOS  pfLOGOS  pfLOGOS  ."
        ". pfSIGNUP pfSIGNUP pfSIGNUP pfSIGNUP pfSIGNUP . . pfSOCIAL pfSOCIAL pfSOCIAL .";
    }

    &__logos {
      margin-left: -$spacing-md;
    }

    &__social-menu {
      margin-left: 0;
    }
  }
}
