.site-footer {
  --link-font-size: #{ rem(12) };
  --link-padding: 0.25em;

  --menu-item-margin: 0 0.25em;

  @extend %color-combo-foreground-primary;

  background-color: var(--color-combo-primary);
  font-family: $font-family-secondary;
  padding-top: $spacing-md;
  padding-bottom: $spacing-md;

  padding-left: var(--content-safe-area-left);
  padding-right: var(--content-safe-area-right);

  text-align: center;

  &__copyright {
    font-size: rem(14);
    margin-top: 1.25em;
  }
}
