.site-header {
  --svg-width: auto;
  --svg-height: var(--site-logo-height);
  --link-display: block;


  border-top: em(15) solid var(--color-combo-secondary);
  padding-left: var(--site-header-safe-area-left);
  padding-right: var(--site-header-safe-area-right);
  padding-top: var(--site-header-safe-area-top);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 50;

  // **************************************************
  // MEDIA QUERIEs

  @media (min-width: $mq-1280) {
    .region-site-header {
      margin-left: column-width(1);
      transform: translateX(-40%);
    }
  }
}
